<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply"
    template="../components/wizard.xhtml">

    <ui:param name="bean" value="#{changeOwnerWizard}"/>

    <ui:param name="bodyClass" value="container" />
    <ui:param name="formContainerClass" value="col-xs-12" />
    <ui:param name="title" value="#{msg.changeOwner}"/>
    <ui:param name="showSteps" value="false"/>

    <ui:define name="formContainer">

        <ul class="list-group">
            <li class="list-group-item list-group-item-danger">
                <h1>
                    #{msg.changeOwnerWarning}
                </h1>
            </li>
        </ul>

        <div class="col-xs-12 well">
            <div class="form-group">
                <div class="col-xs-12 select2Email">
                    <h:inputHidden value="#{changeOwnerWizard.email}" pt:style="width: 100%;" pt:class="form-control" />
                </div>
            </div>
        </div>

        <h:commandButton id="cancelBtn" action="#{changeOwnerWizard.reset}" style="display:none;"/>
        <h:commandButton id="finishBtn" action="#{changeOwnerWizard.finish}" style="display:none;"/>

        <h:outputScript>
            var globalQuery;

            $(".select2Email").find("input").select2({
                minimumInputLength: 3,
                query: function (query) {
                    $("#searchText").val(query.term);
                    $("#suggestionsButton").click();

                    globalQuery = query;
                }
            });
        </h:outputScript>
    </ui:define>

    <ui:define name="misc">
        <h:form prependId="false">
            <script>
                if(globalQuery != undefined) {
                    var data = {results: []};
                    var emails = $("#suggestionsHidden").val().split(",");
                    var i;
                    for(i = 0; i &lt; emails.length; ++i) {
                        data.results.push({id: emails[i], text: emails[i]});
                    }
                    globalQuery.callback(data);
                }
            </script>

            <h:inputHidden value="#{changeNamespaceWizard.searchText}" id="searchText" />
            <h:inputHidden value="#{changeNamespaceWizard.suggestions}" id="suggestionsHidden" />
            <h:commandButton action="#{changeNamespaceWizard.searchEmail}" value="NONE" style="display: none;" id="suggestionsButton">
                <f:ajax execute="@form" render="@form"/>
            </h:commandButton>
        </h:form>

    </ui:define>

</ui:composition>
