<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:o="http://omnifaces.org/ui"
                template="../components/default.xhtml">


    <ui:define name="body">
        <h2>#{msg.compareNamespaces}</h2>
        <br/>
        <div class="fadein content container-fluid">
            <div class="row">
                <div class="col-md-2 col-md-offset-1"><h3>#{msg.sourceNamespace}</h3></div>
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md-1"><h3>#{msg.language}</h3></div>
                <div class="col-md-1"><h3>#{msg.comparisonType}</h3></div>
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md-2"><h3>#{msg.targetNamespace}</h3></div>
            </div>

            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <div class="form-group">
                        <h:selectOneMenu styleClass="form-control" id="src_namespace">
                            <f:selectItems var="namespace"
                                           value="#{compareNamespaceBean.namespaces}"
                                           itemValue="#{namespace.getId()}"
                                           itemLabel="#{namespace.getShortLabel()}"/>
                        </h:selectOneMenu>
                    </div>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-1">
                    <h:selectOneMenu styleClass="form-control" id="language">
                        <f:selectItems var="language"
                                       value="#{compareNamespaceBean.languages}"
                                       itemValue="#{language.getName().toUpperCase()}"
                                       itemLabel="#{language.getName().toUpperCase()}"/>
                    </h:selectOneMenu>
                </div>
                <div class="col-md-1">
                    <h:selectOneMenu styleClass="form-control" id="comparison_type">
                        <f:selectItems var="type"
                                       value="#{compareNamespaceBean.getComparisonTypes()}"
                                       itemValue="#{type}"
                                       itemLabel="#{type}"/>
                    </h:selectOneMenu>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <h:selectOneMenu styleClass="form-control" id="trg_namespace">
                            <f:selectItems var="namespace"
                                           value="#{compareNamespaceBean.namespaces}"
                                           itemValue="#{namespace.getId()}"
                                           itemLabel="#{namespace.getShortLabel()}"/>
                        </h:selectOneMenu>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <h3>#{msg.namespaceElements}</h3>
                </div>
                <div class="col-md-6">
                    <h3>#{msg.details}</h3>
                </div>
                <div class="col-md-2">
                    <h3>#{msg.namespaceElements}</h3>
                </div>
            </div>
            <br/>
            <div id="comparison">
            </div>
            <h:outputScript>
                var msg = {
                    designation: '#{msg.designation}',
                    definition: '#{msg.definition}',
                    datatype: '#{msg.datatype}',
                    language: '#{msg.language}',
                    similarity: '#{msg.similarity}',
                    datatypeMatch: '#{msg.datatypeMatch}',
                    urn: '#{msg.urn}'
                };
            </h:outputScript>
            <h:outputScript name="js/comparison.js"/>
            <h:outputScript name="js/compareNamespaces.js"/>
        </div>

    </ui:define>

</ui:composition>
