<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply"
    template="../components/verify.xhtml">

    <ui:param name="bean" value="#{dataElementGroupWizard}"/>

    <ui:define name="afterDefinitions">

        <h2><h:outputText value="#{msg.members}"/></h2>

        <div class="clearfix" id="elements">
            <sa:elements list="#{dataElementGroupWizard.elements}" emptyText="#{msg.noMembers}"/>
        </div>

    </ui:define>
</ui:composition>
