<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply"
    template="../components/wizard.xhtml">

    <ui:param name="bean" value="#{importWizard}" />
    <ui:param name="bodyClass" value="container" />
    <ui:param name="formContainerClass" value="col-xs-12" />
    <ui:param name="title" value="#{msg.uploadStrategy}"/>

    <ui:define name="formContainer">

        <div class="well">
            <ui:repeat var="is" value="#{importWizard.strategy}">
                <h:panelGroup styleClass="form-group">
                    <h:outputLabel value="#{is.from}" styleClass="control-label col-xs-4"/>

                    <div class="col-xs-8">
                        <h:selectOneMenu value="#{is.to}" styleClass="form-control select2">
                            <f:selectItems var="i" value="#{importWizard.targetNamespaces}" itemValue="#{i.name}" itemLabel="#{i.label}"/>
                        </h:selectOneMenu>
                    </div>
                </h:panelGroup>
            </ui:repeat>
        </div>

        <h:commandButton id="verifyBtn" action="#{importWizard.verify}" style="display:none;"/>
        <h:commandButton id="previousBtn" action="#{importWizard.previousStep(view.viewId)}" style="display: none;" />
        <h:commandButton id="cancelBtn" action="#{importWizard.reset}" style="display:none;"/>
    </ui:define>

</ui:composition>
