<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply"
    template="../components/wizard.xhtml">

    <ui:param name="bean" value="#{importWizard}" />
    <ui:param name="bodyClass" value="container" />
    <ui:param name="formContainerClass" value="col-xs-12" />
    <ui:param name="title" value="#{msg['import']}"/>

    <ui:define name="formContainer">

        <div class="well">
            <div class="form-group">
                <h:outputLabel for="upload" value="#{msg.uploadFile}" styleClass="col-xs-2 control-label"/>

                <h:panelGroup styleClass="col-xs-8" layout="block">
                    <h:inputFile id="upload" value="#{importWizard.file}"/>
                </h:panelGroup>
            </div>

            <div class="form-group">
                <h:outputLabel for="keepIdentifier" value="#{msg.keepIdentifier}" styleClass="col-xs-2 control-label"/>

                <h:panelGroup layout="block" styleClass="col-xs-8">
                    <div class="checkbox">
                        <label>
                            <h:selectBooleanCheckbox id="keepIdentifier" value="#{importWizard.keepIdentifier}"/>
                        </label>
                    </div>
                </h:panelGroup>
            </div>
        </div>

        <h:commandButton id="cancelBtn" action="#{importWizard.reset}" style="display:none;"/>
        <h:commandButton id="verifyBtn" action="#{importWizard.upload}" style="display:none;"/>
    </ui:define>

</ui:composition>
