<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply"
                template="../components/default.xhtml">

    <f:metadata>
        <f:viewAction action="#{draftsBean.initialize}"/>
    </f:metadata>

    <ui:param name="bodyClass" value="container" />

    <ui:define name="body">

        <div class="modal fade" id="deleteDraftsDialog" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <h:form>
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span><span
                                    class="sr-only">#{msg.close}</span>
                            </button>
                            <h4 class="modal-title"
                                id="deleteDraftsDialogModalLabel">#{msg.deleteDraftsTitle}</h4>
                        </div>
                        <div class="modal-body">#{msg.deleteDialogSummaryAllDrafts}
                            <h:selectManyCheckbox value="#{draftsBean.namespacesToDeleteFrom}"
                                                  layout="pageDirection">
                                <f:selectItems value="#{userBean.writableNamespaces}" var="ns"
                                               itemValue="#{ns.id}" itemLabel="#{ns.name}"/>
                                <f:ajax event="click" execute="@this" render="@form"/>
                            </h:selectManyCheckbox>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">#{msg.close}</button>
                            <h:commandLink
                                    styleClass="btn btn-danger #{empty draftsBean.namespacesToDeleteFrom ? 'disabled' : ''}"
                                    value="#{msg.deleteDraftsTitle}"
                                    action="#{draftsBean.deleteDrafts}"
                                    disabled="#{empty draftsBean.namespacesToDeleteFrom}"/>
                        </div>
                    </div>
                </h:form>
            </div>
        </div>

        <div class="fadein content">

            <div class="clearfix">
                    <div class="col-xs-12">
                        <h2 class="col-xs-6 wiztitle">#{msg.myDrafts}</h2>

                        <h:panelGroup styleClass="col-xs-6 btn-group" layout="block">

                            <h:panelGroup styleClass="dropdown contextButtons" layout="block">
                                <h:form id="contextForm">
                                    <a class="btn btn-danger" style="margin-right: 5px;" href="#" data-toggle="modal" data-target="#deleteDraftsDialog">#{msg.deleteDraftsTitle}</a>
                                    <h:commandButton styleClass="btn btn-default" action="#{draftsBean.release()}" value="#{msg.releaseAllMarked}" />
                                </h:form>
                            </h:panelGroup>

                        </h:panelGroup>
                    </div>
                </div>

            <h:form styleClass="form-horizontal">
                <h:panelGroup layout="block" id="items" styleClass="col-xs-12 content">
                    <div id="elements">
                        <sa:elements list="#{draftsBean.elements}" detailLink="true" collapsible="true" starrable="true"
                            emptyText="#{msg.noDrafts}" releasable="true"/>
                    </div>
                </h:panelGroup>
            </h:form>

            <h:form id="starForm">
                <h:inputText id="urn" value="#{userBean.starItem}" styleClass="inputStarItemUrn" style="display: none;" />
                <h:commandButton action="#{userBean.toggle}" styleClass="inputStarItemBtn" style="display: none;" >
                    <f:ajax execute="@form"/>
                </h:commandButton>
                <h:inputText id="markUrn" value="#{draftsBean.markItem}" styleClass="inputMarkItemUrn" style="display: none;" />
                <h:commandButton action="#{draftsBean.toggle}" styleClass="inputMarkItemBtn" style="display: none;" >
                    <f:ajax execute="@form"/>
                </h:commandButton>
            </h:form>

        </div>

    </ui:define>

</ui:composition>
