<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="../components/default.xhtml">

  <ui:param name="htmlClass" value="height-100p" />
  <ui:param name="bodyClass" value="container-fluid height-100p" />

  <ui:define name="body">

    <h:outputStylesheet name="css/inspire-tree-light.min.css" />
    <h:outputScript name="webjars/lodash/4.17.10/lodash.js" target="head" />
    <h:outputScript name="js/inspire-tree.min.js" target="head" />
    <h:outputScript name="js/inspire-tree-dom.min.js" target="head" />
    <h:outputScript name="webjars/jquery-blockui/2.70/jquery.blockUI.js" />
    <h:outputScript name="js/mustache.min.js" />
    <h:outputScript name="js/elementTemplates.js" />
    <h:outputScript name="js/linkingTemplates.js" />
    <h:outputScript name="js/mdr-tree.js" />

    <div class="fadein content">
      <div style="margin-bottom: 30px;"></div>

      <!-- divs for the trees and linking -->
      <div class="row">
        <div class="col-xs-4 namespace-comparison-row">
          <div class="row">
            <div class="col-xs-11 col-xs-offset-1">
                <div class="namespaces_tree_left"></div>
            </div>
          </div>
        </div>

        <div class="col-xs-4">
          <ui:fragment rendered="#{userBean.canLinkElements}">
            <div class="row">
              <div class="col-xs-1">
                <button id="link_button" class="btn btn-primary" type="button">Link Element</button>
              </div>
              <div class="col-xs-offset-1 col-xs-1">
                <h:form id="element-relation-form" prependId="false">
                  <h:commandLink styleClass="btn btn-primary" value="Save links" id="save_button"
                                 onclick="return jsonifyLinks();"
                                 action="#{compareNamespaceBean.updateLinks}">
                    <f:ajax execute="@form" render="@form"/>
                  </h:commandLink>
                  <h:inputText value="#{compareNamespaceBean.identifierRelations}" id="linked_elements_json"
                               style="display: none"/>
                </h:form>
              </div>
            </div>
          </ui:fragment>
          <div class="row namespace-comparison-row" >
            <div class="col-xs-12">
              <table class="table table-striped table-hover table-condensed">
                <thead>
                  <tr>
                    <th class="col-xs-4"></th>
                    <th class="col-xs-3"></th>
                    <th class="col-xs-4"></th>
                    <th class="col-xs-1"></th>
                  </tr>
                </thead>
                <tbody id="linked_elements">
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-xs-4 namespace-comparison-row">
          <div class="row">
            <div class="col-xs-11">
                <div class="namespaces_tree_right"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- hr for separation -->
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <hr/>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <hr/>
            </div>
          </div>
        </div>
      </div>

      <!-- divs for selected elements -->
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <div id="selected_element_left" class="selected_element"></div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <div id="selected_element_right" class="selected_element"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h:outputScript>
      // TODO: We need a better way to pass the token to the front-end with the possibility to refresh.
      var accessToken = "#{userBean.getAccessToken().getSerialized()}";
      // TODO: maybe read all config params from env? Something has to be done here.
      var REST_URL = "#{userBean.getRestUrl()}".replace(/\/+$/, "");
    </h:outputScript>
    <h:outputScript name="js/namespace-tree-comparison.js" />
  </ui:define>

</ui:composition>
