<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply"
    template="../components/wizard.xhtml">

    <ui:param name="bean" value="#{namespaceWizard}"/>

    <ui:param name="bodyClass" value="container" />
    <ui:param name="formContainerClass" value="col-xs-12" />
    <ui:param name="title" value="#{msg.verification}"/>

    <ui:define name="formContainer">
        <div>
            <sa:definitions bean="#{namespaceWizard}" readonly="true"/>
        </div>

        <div class="well col-xs-12">
            <ui:fragment rendered="#{userBean.hasAdminPrivilege}">
                <div class="form-group">
                    <h:outputLabel value="#{msg.hideNamespace}" for="hide-namespace" styleClass="col-xs-2 control-label" />

                    <h:panelGroup layout="block" id="hide-namespace" styleClass="col-xs-8">
                        <div class="checkbox">
                            <label>
                                <h:selectBooleanCheckbox value="#{namespaceWizard.hidden}"/>
                            </label>
                        </div>
                    </h:panelGroup>
                </div>
            </ui:fragment>

            <div class="form-group">
                <h:outputLabel value="#{msg.identifier}" for="identifier" styleClass="col-xs-2 control-label required" />

                <h:panelGroup styleClass="col-xs-8 #{cc.attrs.readonly ? 'form-control-static' : ''}" id="identifier" layout="block">
                    <h:inputText styleClass="form-control"
                        value="#{namespaceWizard.name}" pt:placeholder="#{msg.definitionPlaceholder}"/>
                </h:panelGroup>
            </div>
        </div>

        <h:commandButton id="cancelBtn" action="#{namespaceWizard.reset}" style="display:none;"/>
        <h:commandButton id="previousBtn" action="#{namespaceWizard.previousStep(view.viewId)}" style="display:none;"/>
        <h:commandButton id="finishBtn" action="#{namespaceWizard.finish}" style="display:none;"/>
    </ui:define>

</ui:composition>
