<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply"
                template="../components/recommendations.xhtml">

  <ui:param name="bean" value="#{dataElementWizard}" />

  <ui:define name="preDefinitions">
    <h:panelGroup rendered="#{dataElementWizard.externalElement != null}" layout="block" styleClass="well col-xs-12">
      <h:outputText value="#{msg.importExternalText}" escape="false"/>
    </h:panelGroup>

    <div class="clearfix"></div>

  </ui:define>

</ui:composition>
