<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="../components/default.xhtml">

    <f:metadata>
        <f:viewAction action="#{settingsBean.initialize}"/>
    </f:metadata>

    <ui:define name="body">
        <h1>Settings</h1>
        <div class="fadein content">

            <!-- TODO: Default Language Setting-->

            <!-- User Credentials -->
            <div class="col-xs-12">
                <h:form styleClass="form-horizontal">
                    <div class="well">
                        <h2>Your Credentials for Sources</h2>
                        <ui:repeat var="source" value="#{settingsBean.credentials}">
                            <h:panelGroup styleClass="form-group" layout="block">
                                <h:outputLabel value="#{source.sourceName}" for="sourceCredential"
                                               styleClass="col-xs-2 control-label"/>
                                <h:panelGroup styleClass="col-xs-8"  layout="block">
                                    <h:inputSecret id="sourceCredential" styleClass="form-control" value="#{source.credential}" redisplay="true"/>
                                </h:panelGroup>
                            </h:panelGroup>
                        </ui:repeat>
                        <h:commandButton value="#{msg.save}" styleClass="btn btn-default"
                                         style="alignment: right"
                                         action="#{settingsBean.saveSourceCredential()}"/>
                    </div>
                </h:form>
            </div>


            <!-- Instance Credentials accessable if admin-->
            <!--<div class="col-xs-12">
                <h:form styleClass="form-horizontal">
                    <div class="well">
                        <h2>Instance Credentials for Sources</h2>
                        <ui:repeat var="source" value="#{settingsBean.credentials}">
                            <h:panelGroup styleClass="form-group" layout="block">
                                <h:outputLabel value="#{source.source_name}" for="sourceInstanceCredential"
                                               styleClass="col-xs-2 control-label"/>
                                <h:panelGroup styleClass="col-xs-8"  layout="block">
                                    <h:inputText id="sourceInstanceCredential" styleClass="form-control" value="#{source.credential}"/>
                                </h:panelGroup>
                            </h:panelGroup>
                        </ui:repeat>
                        <h:commandButton value="#{msg.save}" styleClass="btn btn-default"
                                         style="alignment: right"
                                         action="#{settingsBean.saveSourceCredential()}"/>
                    </div>
                </h:form>
            </div>-->




        </div>
    </ui:define>

</ui:composition>