<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="../components/default.xhtml">
    <ui:param name="bodyClass" value="container" />
    <ui:define name="body">
        <div class="fadein">
            <h1>#{msg.stagingToElementJobSpawned}</h1>
            <h:outputText escape="false" value="#{msg.stagingToDraftJobSpawnedDetail}"/>
        </div>
    </ui:define>
</ui:composition>
