<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply"
                xmlns:st="http://samply.de"
                template="../components/default.xhtml">

    <f:metadata>
        <f:viewAction action="#{stagingBean.initialize}"/>
    </f:metadata>

    <ui:param name="htmlClass" value="height-100p" />
    <ui:param name="bodyClass" value="container-fluid height-100p" />

    <ui:define name="body">

        <h:outputStylesheet name="css/inspire-tree-light.min.css" />
        <h:outputScript name="webjars/lodash/4.17.10/lodash.js" target="head" />
        <h:outputScript name="js/inspire-tree.min.js" target="head" />
        <h:outputScript name="js/inspire-tree-dom.min.js" target="head" />
        <h:outputScript name="webjars/jquery-blockui/2.70/jquery.blockUI.js" />

        <div class="fadein content height-100p">
            <div style="margin-bottom: 30px;" />

            <div class="row height-100p">

                <ui:fragment rendered="#{stagingBean.isEmpty()}">
                    <h1>#{msg.stagingEmpty}</h1>
                </ui:fragment>

                <div class="col-xs-3 height-100p" style="overflow: auto">
                    <div class="namespaces_staging-tree" style="margin-bottom: 75px !important;"/>

                    <div class="staging-buttons" style="display: none;">
                        <h:form prependId="false">
                            <h:inputHidden id="selectedItems" value="#{stagingBean.selectedItems}">
                                <f:converter converterId="arrayConverter" />
                            </h:inputHidden>
                            <div class="btn-group btn-group-justified" style="width: 100%; margin-left: -15px;" role="group">
                                <h:commandLink styleClass="btn btn-danger"
                                               value="#{msg.delete_marked}"
                                               action="#{stagingBean.delete}"/>
                                <h:commandLink styleClass="btn btn-primary"
                                               value="#{msg.import_marked}"
                                               action="#{stagingBean.toDraft}"/>
                            </div>
                        </h:form>
                    </div>
                </div>

                <div class="col-xs-9 height-100p" style="overflow: auto">
                    <div id="selected_element" class="selected_element" />
                </div>
            </div>
        </div>
        <h:outputScript name="js/staging.js" />
    </ui:define>

</ui:composition>
