<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply"
    template="../components/wizard.xhtml">

    <ui:param name="bean" value="#{dataElementWizard}"/>

    <ui:param name="bodyClass" value="container" />
    <ui:param name="formContainerClass" value="col-xs-12" />
    <ui:param name="title" value="#{msg.validation}"/>

    <ui:define name="formContainer">
        <ui:fragment rendered="#{dataElementWizard.externalElement != null}">
            <h3>#{msg.externalData}</h3>

            <sa:cadsrValueDomain element="#{dataElementWizard.externalElement}"/>

            <h3 style="text-color: red;">#{msg.applyDataAbove}</h3>

            <div class="clearfix">
            </div>
        </ui:fragment>

        <sa:valueDomain bean="#{dataElementWizard}" readonly="false"/>

        <h:commandButton id="cancelBtn" action="#{dataElementWizard.reset}" style="display:none;"/>
        <h:commandButton id="previousBtn" action="elementdefinitions?faces-redirect=true" style="display:none;"/>
        <h:commandButton id="verifyBtn" action="#{dataElementWizard.validateValidation}" style="display:none;"/>

        <h:commandButton id="addBtn" styleClass="btn btn-default" action="#{dataElementWizard.addPermittedValue}" style="display:none;">
                <f:ajax render="@form :scrollFragment" execute="@form"/>
        </h:commandButton>
    </ui:define>

    <ui:define name="misc">
        <!-- This script just scrolls to the last div block of the permitted value that has been added. -->

        <h:panelGroup id="scrollFragment" layout="block">
            <script type="text/javascript">
                $('html, body').animate({
                    scrollTop: $("#wizardForm div:last").offset().top
                }, 1000);
            </script>
        </h:panelGroup>
    </ui:define>
</ui:composition>
