body {
    padding-bottom: 60px;
}

.height-100p {
    height: 100%;
}

.control-label-center {
    text-align: center;
    font-weight: bolder;
}

.designation {
    font-size: 13.5pt;
    padding-bottom: 2px;
    display: inline-block;
}

.definition {
    display: block;
    font-size: 12.5pt;
}

.urn {
    display: inline-block;
    text-align: right;
    float: right;
}

.detailLink {
    display: table-cell;
    cursor: pointer;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
}

.nav > li > a.detailLink {
    padding: 0;
}

.page-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

.formItem {
    display: table;
    margin-bottom: 5px;
    padding: 5px 5px 5px 15px;
}

.formItem-dataelementgroup {
    border: 1px solid rgba(59, 73, 94, 0.36);
    border-left: 3px solid rgb(59, 73, 94);
    text-align: left;
    color: rgb(59, 73, 94);
    background-color: rgba(165, 186, 216, 0.48);
    border-radius: 4px;
    font-size: 11pt;
}

.formItem-dataelement {
    font-weight: 400;
    color: inherit;
    background: rgba(234, 239, 245, 0.71);
    border: 1px solid rgba(235, 207, 200, 0.55);
    border-left: 3px solid rgba(245, 108, 74, 0.81);
}

.formItem-selected {
    font-weight: 400;
    color: inherit;
    background: rgba(226, 245, 206, 0.71);
    border: 1px solid rgba(209, 255, 112, 0.55);
    border-left: 3px solid rgba(120, 245, 0, 0.81);
}

.formItem-record {
    font-weight: 400;
    color: inherit;
    background: rgba(234, 239, 245, 0.71);
    border: 1px solid rgba(235, 207, 200, 0.55);
    border-left: 3px solid rgba(94, 130, 255, 0.81);
}

.formItem-catalog {
    font-weight: 400;
    color: inherit;
    background: rgba(234, 239, 245, 0.71);
    border-width: 1px 1px 1px 3px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8);
    border-radius: 3px 2px 2px 3px;
}

.formItem-code {
    font-weight: 400;
    color: inherit;
    background: rgba(234, 239, 245, 0.71);
    border-width: 1px 1px 1px 3px;
    border-style: solid;
    border-color: rgba(0, 30, 100, 0.8);
    border-radius: 3px 2px 2px 3px;
}

.formItem-code.validCode {
    font-weight: 400;
    color: inherit;
    background: rgba(234, 239, 245, 0.71);
    border-color: rgba(0, 39, 179, 0.8);
    border-radius: 3px 2px 2px 3px;
}

.formItem-namespace {
    font-weight: 400;
    color: inherit;
    background: rgba(234, 239, 245, 0.71);
    border-width: 1px 1px 1px 3px;
    border-style: solid;
    border-color: rgba(0, 30, 100, 0.8);
    border-radius: 3px 2px 2px 3px;
}

.formItem-import {
    font-weight: 400;
    color: inherit;
    background: rgba(234, 239, 245, 0.71);
    border-width: 1px 1px 1px 3px;
    border-style: solid;
    border-color: rgba(64, 128, 101, 1);
    border-radius: 3px 2px 2px 3px;
}

.formItem-catalog.invert {
    background: rgba(21, 16, 10, 0.29);
}

.draggable {
    cursor: pointer;
}

.sortableItemPanel {
    border: 1px dashed rgba(241, 148, 125, 0.83);
    height: 100%;
    display: inline-block;
    padding: 50px 12px;
    background-color: #FFF;
}

#dragInfo {
    color: #BDBDBD;
    padding: 50px 30px 30px;
    text-align: center;
}

.panelLeft {
    border-right: 1px dashed #C9C9C9;
    min-height: 98%;
}

.panelRight {
    border-left: 1px dashed #C9C9C9;
    min-height: 98%;
}

.screenHeight {
    height: 100%;
}

.vCenter {
    vertical-align: middle;
    display: inline-block;
    float: none;
}

.clickableIcon {
    color: #BECFDD;
}

.content {
    padding: 10px;
}

.input-group[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}

.contextButtons {
    display: inline-block;
    float: right;
    font-size: 36px;
    line-height: 1.1;
    color: #BECFDD;

    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.checkbox label {
    display: inline;
}

.details .detailView {
    border-width: 0 0 0 1px;
    border-style: dashed;
    border-color: #000;
    border-radius: 0;
    padding-left: 5px;
}

.form-container {
    padding-bottom: 30px;
    border-radius: 4px;
    box-shadow: 0 18px 6px -8px #1A1A1A, 0 0 2px #0D0D0D;
    margin-top: 100px;
}

.footer {
    position: absolute;
    height: 200px;
    bottom: 0;
    margin: 15px;
}

.imgRight {
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 150px;
    max-width: 300px;
}

.imgRight > img {
    max-width: inherit;
    max-height: inherit;
}

.imgLeft {
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 150px;
    max-width: 300px;
}

.header-left {
    display: inline-block;
    margin-top: 0;
}

tr.tableVCenter td {
    vertical-align: middle !important;
}

.select2-container {
  padding: 0 !important;
  border-width: 0 !important;
}

.select2-container .select2-choice {
  height: 34px !important;
  line-height: 34px !important;
}

.navbar-brand,
.navbar-nav > li > a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}

.navbar-inverse .navbar-brand {
    color: #FFF;
}

.navbar-inner {
    min-height: 0;
}

.logo {
    height: 23px;
    margin-right: 10px;
    width: 60px;
}

.projectName {
    color: #DD5D37;
}

.processingWrapper {
    text-align: center;
}

.nav-pills li {
    margin-top: 5px;
}

.navbar-fixed-bottom {
    background-color: transparent !important;
    border-width: 0;
}

input[type='checkbox'],
input[type='radio'] {
    margin-right: 8px;
}

ul.namespacelist li {
    cursor: pointer;
}

.statusLabel {
    font-size: 40%;
    vertical-align: middle;
}

.scrollable {
    overflow-y: auto;
    height: 100%;
}

.formItem.ui-draggable-dragging, .ui-sortable-helper {
    width: 800px !important;
}

@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        max-height: unset;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-nav .open .dropdown-menu > li > a:focus {
        background-image: none;
    }
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 30px;
    margin-bottom: 15px;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #BDBDBD;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.resultsTitle {
    min-height: 75px;
}

.imgLeft>svg,
.imgRight>svg {
    height: 150px;
    overflow: visible;
}

.imgLeft>svg {
    width: 309px;
}

.namespacelist-pane {
    float:left;
    overflow: auto;
    height: 100%;
}

.elements-pane {
    float:left;
    overflow: auto;
    height: 100%;
}

.results-pane {
    height: 100%;
}

#wrapperResults {
    height: 100%;
}

.inspire-tree .selected>.title-wrap:hover+.wholerow,.inspire-tree .selected>.wholerow {
    background: rgba(200, 200, 200, 0.5) !important;
    border-radius: 4px;
}

.staging-buttons {
    position: fixed;
    bottom: 5px;
    width: inherit;
}

.namespaces_staging-tree .badge {
    margin-right: 5px;
}

.namespaces_staging-tree .badge-import {
    background-color: #408065;
    color: #FFF;
}
.badge-import::before {
    content: "IM";
}

.namespaces_staging-tree .badge-record {
    background-color: rgba(235, 207, 200, 0.55);
    color: #000;
}
.badge-record::before {
    content: "REC";
}

.namespaces_staging-tree .badge-dataelementgroup {
    background-color: rgb(59, 73, 94);
    color: #FFF;
}
.badge-dataelementgroup::before {
    content: "GRP";
}

.namespaces_staging-tree .badge-dataelement {
    background-color: rgba(245, 108, 74, 0.81);
    color: #FFF;
}
.badge-dataelement::before {
    content: "DE";
}


.panel-import {
    border-color: rgba(64, 128, 101, 1)
}
.panel-import > .panel-heading {
    color: #FFF;
    background-color: rgba(64, 128, 101, 1);
    border-color: rgba(64, 128, 101, 1)
}
.panel-import > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: rgba(64, 128, 101, 1)
}
.panel-import > .panel-heading .badge {
    color: rgba(64, 128, 101, 1);
    background-color: #FFF;
}
.panel-import > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: rgba(64, 128, 101, 1)
}

.panel-dataelement {
    border-color: rgba(245, 108, 74, 0.81);
}
.panel-dataelement > .panel-heading {
    color: #FFF;
    background-color: rgba(245, 108, 74, 0.81);
    border-color: rgba(245, 108, 74, 0.81);
}
.panel-dataelement > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: rgba(245, 108, 74, 0.81);
}
.panel-dataelement > .panel-heading .badge {
    color: rgba(245, 108, 74, 0.81);
    background-color: #FFF;
}
.panel-dataelement > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: rgba(245, 108, 74, 0.81);
}

.panel-dataelementgroup {
    border-color: rgb(59, 73, 94);
}
.panel-dataelementgroup > .panel-heading {
    color: #FFF;
    background-color: rgb(59, 73, 94);
    border-color: rgb(59, 73, 94);
}
.panel-dataelementgroup > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: rgb(59, 73, 94);
}
.panel-dataelementgroup > .panel-heading .badge {
    color: rgb(59, 73, 94);
    background-color: #fcf8e3;
}
.panel-dataelementgroup > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: rgb(59, 73, 94);
}

.panel-record {
    border-color: rgba(235, 207, 200, 0.55);
}
.panel-record > .panel-heading {
    color: #222;
    background-color: rgba(235, 207, 200, 0.55);
    border-color: rgba(235, 207, 200, 0.55);
}
.panel-record > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: rgba(235, 207, 200, 0.55);
}
.panel-record > .panel-heading .badge {
    color: rgba(235, 207, 200, 0.55);
    background-color: #222;
}
.panel-record > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: rgba(235, 207, 200, 0.55);
}

.staging-tree-item {
    border-collapse: collapse;
}

.namespaces_staging-tree > ol > li > .title-wrap {
    font-weight: 400;
    color: inherit;
    background: rgba(234, 239, 245, 0.71);
    border-width: 1px 1px 1px 3px;
    border-style: solid;
    border-color: rgba(0, 30, 100, 0.8);
    border-radius: 3px 2px 2px 3px;
    border-collapse: collapse;
}

.namespaces_staging-tree > ol > li > .title-wrap > input {
    display: none;
}

.namespace-comparison-row {
    max-height: 650px;
    overflow-y: auto;
}
