#wizard-background {
    height: 100%;
    z-index: 0;
    position: fixed;
    left: 0;
}

#wizard-buttons {
    background-color: #F8F8F8;
    padding: 10px 15px 15px;
}

#form-background {
    height: 100%;
    z-index: 0;
    background-color: #F8F8F8;
}

.wizard:after {
    clear: left;
}

.wizard:before, .wizard:after {
    line-height: 0;
    content: "";
    display: block;
}

.wizard {
    display: inline-block;
    background-color: #F9F9F9;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    border-radius: 4px;
    border: 1px solid #D4D4D4;
    margin-top: 20px;
    margin-bottom: 10px;
    float: right;
}

.wizard ul {
    padding: 0;
    margin: 0;
    list-style: none outside none;
}

.wizard ul li:nth-child(1) {
    z-index: 10;
    padding-left: 20px;
    border-radius: 4px 0 0 4px;
}

.wizard ul li:nth-child(2) {
    z-index: 9;
    padding-left: 20px;
    border-radius: 4px 0 0 4px;
}

.wizard ul li:nth-child(3) {
    z-index: 8;
    padding-left: 20px;
    border-radius: 4px 0 0 4px;
}

.wizard ul li:nth-child(4) {
    z-index: 7;
    padding-left: 20px;
    border-radius: 4px 0 0 4px;
}

.wizard ul li:nth-child(5) {
    z-index: 6;
    padding-left: 20px;
    border-radius: 4px 0 0 4px;
}

.wizard ul li.active {
    color: #3a87ad;
    background: #f1f6fc;
}

.wizard ul li {
    position: relative;
    float: left;
    height: 46px;
    padding: 0 20px 0 30px;
    margin: 0;
    font-size: 16px;
    line-height: 46px;
    color: #999999;
    cursor: default;
    background: #ededed;
}

.wizard ul li .chevron {
    position: absolute;
    top: 0;
    right: -14px;
    display: block;
    border: 24px solid transparent;
    border-right: 0;
    border-left: 14px solid #d4d4d4;
}

.wizard > .steps li.active .chevron:before {
    border-left: 14px solid #F1F6FC;
}

.wizard > .steps li.complete {
    background: none repeat scroll 0 0 #F3F4F5;
    color: #468847;
}

.wizard > .steps li .chevron:before {
    position: absolute;
    top: -24px;
    right: 1px;
    display: block;
    border: 24px solid transparent;
    border-right: 0;
    border-left: 14px solid #ededed;
    content: "";
}

.wizard > .steps li.complete .chevron:before {
    border-left: 14px solid #F3F4F5;
}

.wiztitle {
    float: left;
    text-align: left;
}

.wizard > .steps li .badge-success {
    background-color: #468847;
}

.wizard > .steps li .badge {
    margin-right: 8px;
}

.wizard > .steps li.active .badge {
    background-color: #3A87AD;
}

.hr-light {
    border-color: #ccc;
}

.similaritybar {
  width: 95px;
  height: 15px;
  background-color: #3a87ad;
  background-image: linear-gradient(to right, #daeaff, #3a87ad);
  border: 1px #aaa solid;
}

.similarity {
  height: 13px;
  background-color: #f5f5f5;
  color: #fff;
}

.search-options {
  display: none;
}

.languages-table {
  display: none;
}

.element-title {
    font-size: 135%;
}

.element-link {
    font-size: 75%;
}
