<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
    <title>Samply MDR Admin Interface</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <ui:include src="../components/styles.xhtml"/>

    <h:outputScript>
        var contextPath = '#{facesContext.externalContext.request.contextPath}';

        function collapseRow(element) {
            $(element).parent().parent().parent().parent().parent().next().find(".collapse").collapse('toggle');
        }

        function closeRow(element) {
            $(element).parent().parent().collapse('toggle');
        }
    </h:outputScript>
</h:head>

<h:body styleClass="#{bodyClass}">

    <h:panelGroup styleClass="demo-ribbon-wrapper left fixed" rendered="#{! requestBean.isProduction()}">
        <div class="demo-ribbon">
            Demo
        </div>
    </h:panelGroup>

    <ui:include src="navbar.xhtml"/>

    <div class="navbar-shadow"/>

    <ui:fragment rendered="#{showDialog != 'false'}">
        <ui:include src="dialog.xhtml"/>
    </ui:fragment>

    <ui:insert name="body"/>

</h:body>
</html>
