<!--
  ~ Copyright (C) 2016 Medizinische Informatik in der Translationalen Onkologie,
  ~ Deutsches Krebsforschungszentrum in Heidelberg
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see http://www.gnu.org/licenses.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply"
    template="default.xhtml">

<ui:param name="bodyClass" value="container"/>
<ui:param name="showDialog" value="false"/>
    
<ui:define name="body">
    <div class="content">

        <div class="col-xs-8 col-xs-offset-2 well" style="margin-top: 100px;">
            <h2>#{msg.delete}</h2>

            <h:form styleClass="form-horizontal">
                <div class="alert alert-danger">
                    <h:outputText value="#{msg['admin.deleteWarning']}"/>
                </div>

                <div class="form-group">
                    <h:outputLabel for="urn" value="#{msg.urn}" styleClass="control-label col-xs-4"/>

                    <div class="col-xs-8">
                        <h:inputText id="urn" value="#{deleteBean.urn}" styleClass="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="pull-right">
                            <h:commandButton value="#{msg.delete}" action="#{deleteBean.delete}" styleClass="btn btn-primary">
                                <f:ajax render="@form" execute="urn"/>
                            </h:commandButton>
                        </div>
                    </div>
                </div>

                <h:messages showSummary="false" showDetail="true" styleClass="list-group" errorClass="list-group-item list-group-item-danger"
                        infoClass="list-group-item list-group-item-success"/>

            </h:form>
        </div>

    </div>
</ui:define>

</ui:composition>
