<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply"
    template="default.xhtml">

<ui:param name="bodyClass" value="container"/>

<ui:define name="body">
    <div class="content">

        <div>
            <h3 class="header-left">Namespaces</h3>
            <span class="pull-right">
                <h:link outcome="index" styleClass="btn btn-default btn-block">
                    <i class="fa fa-refresh"></i>
                </h:link>
            </span>
        </div>

        <h:form>
            <table id="table" class="table table-striped table-hover col-xs-12">
                <thead>
                    <tr>
                        <th scope="col" class="col-xs-4">Identifier</th>
                        <th scope="col" class="col-xs-6">Created by</th>
                        <th scope="col" class="col-xs-2"><span class="pull-right">Actions</span></th>
                    </tr>
                </thead>

                <tbody>
                    <ui:repeat var="ns" value="#{namespaceListBean.namespaces}">
                    <tr class="#{ns.hidden ? 'danger' : 'success'} tableVCenter">
                        <td>
                            #{ns.name}
                        </td>
                        <td>
                            #{namespaceListBean.getCreator(ns)}
                        </td>
                        <td>
                            <div class="dropdown pull-right">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                    <i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><h:commandLink action="#{namespaceListBean.toggle(ns)}" value="#{ns.hidden ? 'Unhide' : 'Hide'}"/></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </ui:repeat>
                </tbody>
            </table>
        </h:form>

        <h:outputScript>
            var table = $("#table").DataTable({
                stateSave: true
            });
        </h:outputScript>

    </div>
</ui:define>

</ui:composition>
