<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:composite="http://xmlns.jcp.org/jsf/composite"
    xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<composite:interface>
    <composite:attribute name="element"/>
</composite:interface>

<composite:implementation>

    <h:panelGroup layout="block" styleClass="well form-horizontal" rendered="#{cc.attrs.element.type == 'DESCRIBED'}">

        <div class="form-group" >
            <h:outputLabel value="#{msg.datatype}" for="datatype" styleClass="col-xs-2 control-label"/>

            <div class="col-xs-8 form-control-static">
                <h:outputText id="datatype" value="#{cc.attrs.element.datatype}"/>
            </div>
        </div>

        <div class="form-group" >
            <h:outputLabel value="#{msg.maxLength}" for="max-length" styleClass="col-xs-2 control-label"/>

            <div class="col-xs-8 form-control-static">
                <h:outputText id="max-length" value="#{cc.attrs.element.maxCharacters}"/>
            </div>
        </div>

        <div class="form-group">
            <h:outputLabel value="Format" for="format" styleClass="col-xs-2 control-label"/>

            <div class="col-xs-8 form-control-static">
                <h:outputText id="format" value="#{cc.attrs.element.format}"/>
            </div>
        </div>

    </h:panelGroup>


    <h:panelGroup layout="block" rendered="#{cc.attrs.element.type == 'ENUMERATED'}">
        <table class="table table-striped table-hover col-xs-12">
            <thead>
                <tr>
                    <th scope="col" class="col-xs-3">#{msg.permittedValue}</th>
                    <th scope="col" class="col-xs-4">#{msg.designation}</th>
                    <th scope="col" class="col-xs-4">#{msg.definition}</th>
                </tr>
            </thead>

            <tbody>
                <ui:repeat var="v" value="#{cc.attrs.element.permissibleValues}">
                    <tr class="tableVCenter">
                        <td>
                            #{v.value}
                        </td>
                        <td>
                            #{v.designation}
                        </td>
                        <td>
                            #{v.definition}
                        </td>
                    </tr>
                </ui:repeat>
            </tbody>
        </table>
    </h:panelGroup>


</composite:implementation>

</html>
