<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough" xmlns:c="http://java.sun.com/jsp/jstl/core">

<composite:interface>
    <composite:attribute name="bean"/>
    <composite:attribute name="readonly" default="false"/>
</composite:interface>

<composite:implementation>

    <ui:fragment id="suggestion" rendered="#{!cc.attrs.readonly}"> <!-- TODO: render: && wenn DATAELEMENT und nicht was anderes!!!! -->
        <h:panelGroup  rendered="#{cc.attrs.bean.getSearchStatus() == 'TRUE'}">
                <h:commandButton styleClass="btn btn-default" style="margin:15px 0; width: 100%"
                                 value="#{msg.searchConceptAssociationButton}"
                                 action="#{cc.attrs.bean.searchConceptAssociation}"
                                 onclick="$('#loading').show();jQuery(this).hide()"/>

            <div id="loading" style="display: none; margin-left:45%; margin-top: 15px; margin-bottom: 15px;">
                <h:graphicImage alt="Processing..." value="/resources/images/ajax-loader.gif"/>
            </div>
        </h:panelGroup>


        <h:panelGroup id="result">
            <h:panelGroup rendered="#{cc.attrs.bean.possibleConceptAssociations.size() != 0 and cc.attrs.bean.getSearchStatus() == 'FALSE'}">
                <h:panelGroup rendered="#{cc.attrs.bean.possibleConceptAssociations.size() > 0}">
                    <div class="well">
                        <div class="form-group">
                            <h4 align="left" style="font-weight: bold"><h:outputText
                                    value="#{msg.possibleConceptAssociations}"/></h4>

                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th scope="col"
                                        class="col-xs-1">#{msg.conceptAssociationVersion}</th>
                                    <th scope="col"
                                        class="col-xs-2">#{msg.conceptAssociationSystem}</th>
                                    <th scope="col"
                                        class="col-xs-2">#{msg.conceptAssociationTerm}</th>
                                    <th scope="col"
                                        class="col-xs-4">#{msg.conceptAssociationText}</th>
                                    <th scope="col"
                                        class="col-xs-2">#{msg.conceptAssociationSource}</th>
                                    <th scope="col" class="col-xs-1"></th>
                                </tr>
                                </thead>

                                <tbody>
                                <ui:repeat var="pca"
                                           value="#{cc.attrs.bean.possibleConceptAssociations}">
                                    <tr class="tableVCenter">
                                        <td>
                                            #{pca.version}
                                        </td>
                                        <td>
                                            #{pca.system}
                                        </td>
                                        <td>
                                            #{pca.term}
                                        </td>
                                        <td>
                                            #{pca.text}
                                        </td>
                                        <td>
                                            #{cc.attrs.bean.sources.get(pca.sourceId-1).getName()}
                                        </td>
                                        <td>
                                            <h:commandButton value="#{msg.applyButton}"
                                                             styleClass="btn btn-default"
                                                             id="takeover"
                                                             action="#{cc.attrs.bean.addConceptAssociationByTerm(pca.term)}"/>
                                        </td>
                                    </tr>
                                </ui:repeat>
                                </tbody>
                            </table>
                            <script type=""/>
                        </div>
                    </div>
                </h:panelGroup>
            </h:panelGroup>

            <h:panelGroup rendered="#{cc.attrs.bean.possibleConceptAssociations.size() == 0}">
                <h:panelGroup rendered="#{cc.attrs.bean.getSearchStatus() == 'FALSE'}">
                <div class="well">
                    <div class="form-group">
                        <h:outputLabel style="font-weight: bold"
                                       value="#{msg.nomatchingConceptAssociations}"/>
                    </div>
                </div>
                </h:panelGroup>
            </h:panelGroup>

        </h:panelGroup>
    </ui:fragment>

    <ui:fragment rendered="#{!cc.attrs.readonly}">
        <h:panelGroup rendered="#{cc.attrs.bean.conceptAssociations.size() > 0}">
            <div class="well">
                <div class="form-group">
                    <h4 align="left" style="font-weight: bold"><h:outputText
                            value="#{msg.selectedConceptAssociations}"/></h4>

                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col" class="col-xs-1">#{msg.conceptAssociationVersion}</th>
                            <th scope="col" class="col-xs-1">#{msg.conceptAssociationSystem}</th>
                            <th scope="col" class="col-xs-1">#{msg.conceptAssociationTerm}</th>
                            <th scope="col" class="col-xs-4">#{msg.conceptAssociationText}</th>
                            <th scope="col" class="col-xs-2">#{msg.conceptAssociationSource}</th>
                            <th scope="col" class="col-xs-2">#{msg.conceptAssociationLinkType}</th>
                            <th scope="col" class="col-xs-1"></th> <!--placeholder for button-->
                        </tr>
                        </thead>

                        <tbody>
                        <ui:repeat var="ca" value="#{cc.attrs.bean.conceptAssociations}">
                            <tr class="tableVCenter">
                                <td>
                                    #{ca.version}
                                </td>
                                <td>
                                    #{ca.system}
                                </td>
                                <td>
                                    #{ca.term}
                                </td>
                                <td>
                                    #{ca.text}
                                </td>
                                <td>
                                    #{cc.attrs.bean.sources.get(ca.sourceId-1).getName()}
                                </td>
                                <td>
                                    <h:selectOneMenu id="linkType" styleClass="form-control select2"
                                                     value="#{ca.linktype}"
                                                     disabled="#{cc.attrs.readonly or cc.attrs.change}">
                                        <f:selectItems var="i" value="#{mdr.relationTypes}"
                                                       itemValue="#{i}"
                                                       itemLabel="#{i.literal}"/>
                                    </h:selectOneMenu>
                                </td>
                                <td>
                                    <h:commandButton rendered="#{!cc.attrs.readonly}"
                                                     styleClass="btn btn-default"
                                                     value="#{msg.remove}"
                                                     action="#{cc.attrs.bean.remove(ca)}">
                                        <f:ajax render="@form" execute="@form"/>
                                    </h:commandButton>
                                </td>
                            </tr>
                        </ui:repeat>
                        </tbody>
                    </table>
                </div>
            </div>
        </h:panelGroup>

        <ui:fragment rendered="#{cc.attrs.bean.newConceptAssociation.size()>0}">
            <ui:repeat value="#{cc.attrs.bean.newConceptAssociation}" var="ca">
                <div class="well">
                    <div class="form-group">
                        <h:outputLabel for="system" value="#{msg.conceptAssociationSystem}"
                                       styleClass="col-xs-2 control-label"/>
                        <h:panelGroup
                                styleClass="col-xs-8 #{cc.attrs.readonly ? 'form-control-static' : ''}"
                                layout="block">
                            <h:inputText id="system" rendered="#{!cc.attrs.readonly}"
                                         styleClass="form-control"
                                         value="#{ca.system}"
                                         pt:placeholder="#{msg.conceptAssociationSystemPlaceholder}"/>
                            <h:outputText rendered="#{cc.attrs.readonly}"
                                          value="#{ca.system}"/>
                        </h:panelGroup>
                    </div>

                    <div class="form-group">
                        <h:outputLabel for="version" value="#{msg.conceptAssociationVersion}"
                                       styleClass="col-xs-2 control-label"/>

                        <h:panelGroup
                                styleClass="col-xs-8 #{cc.attrs.readonly ? 'form-control-static' : ''}"
                                layout="block">
                            <h:inputText id="version" rendered="#{!cc.attrs.readonly}"
                                         styleClass="form-control"
                                         value="#{ca.version}"
                                         pt:placeholder="#{msg.conceptAssociationVersionPlaceholder}"/>
                            <h:outputText rendered="#{cc.attrs.readonly}"
                                          value="#{ca.version}"/>
                        </h:panelGroup>
                    </div>

                    <div class="form-group">
                        <h:outputLabel for="term" value="#{msg.conceptAssociationTerm}"
                                       styleClass="col-xs-2 control-label"/>

                        <h:panelGroup
                                styleClass="col-xs-8 #{cc.attrs.readonly ? 'form-control-static' : ''}"
                                layout="block">
                            <h:inputText id="term" rendered="#{!cc.attrs.readonly}"
                                         styleClass="form-control"
                                         value="#{ca.term}"
                                         pt:placeholder="#{msg.conceptAssociationTermPlaceholder}"/>
                            <h:outputText rendered="#{cc.attrs.readonly}"
                                          value="#{ca.term}"/>
                        </h:panelGroup>
                    </div>

                    <div class="form-group">
                        <h:outputLabel for="text" value="#{msg.conceptAssociationText}"
                                       styleClass="col-xs-2 control-label"/>

                        <h:panelGroup
                                styleClass="col-xs-8 #{cc.attrs.readonly ? 'form-control-static' : ''}"
                                layout="block">
                            <h:inputText id="text" rendered="#{!cc.attrs.readonly}"
                                         styleClass="form-control"
                                         value="#{ca.text}"
                                         pt:placeholder="#{msg.conceptAssociationTextPlaceholder}"/>
                            <h:outputText rendered="#{cc.attrs.readonly}"
                                          value="#{ca.text}"/>
                        </h:panelGroup>
                    </div>

                    <div class="form-group">
                        <h:outputLabel for="linkType" value="#{msg.conceptAssociationLinkType}"
                                       styleClass="col-xs-2 control-label"/>

                        <div class="col-xs-8">
                            <h:selectOneMenu id="newlinkType" styleClass="form-control select2"
                                             value="#{ca.linktype}"
                                             disabled="#{cc.attrs.readonly or cc.attrs.change}">
                                <f:selectItems var="i" value="#{mdr.relationTypes}"
                                               itemValue="#{i}"
                                               itemLabel="#{i.literal}"/>
                            </h:selectOneMenu>
                        </div>
                        <div class="col-xs-2">
                            <h:commandButton rendered="#{!cc.attrs.readonly}"
                                             styleClass="btn btn-default"
                                             value="#{msg.save}"
                                             action="#{cc.attrs.bean.savenewConceptAssociation(ca)}">
                                <f:ajax render="@form" execute="@form"/>
                            </h:commandButton>
                        </div>
                    </div>
                </div>
            </ui:repeat>
        </ui:fragment>
        <h:panelGroup rendered="#{cc.attrs.bean.conceptAssociations.size() == 0}">
            <div class="well">
                <div class="form-group">
                    <h:outputLabel style="font-weight: bold"
                                   value="#{msg.noselectedConceptAssociation}"/>
                </div>
            </div>
        </h:panelGroup>

        <h:commandButton value="#{msg.addConceptAssociation}" styleClass="btn btn-default"
                         action="#{cc.attrs.bean.addnewConceptAssociation}">
            <f:ajax render="@form #{cc.attrs.scroll ? ':scrollFragment' : ''}" execute="@form"/>
        </h:commandButton>
    </ui:fragment>

    <ui:fragment rendered="#{cc.attrs.readonly and cc.attrs.bean.conceptAssociations.size() > 0}">
        <ui:fragment rendered="#{cc.attrs.bean.conceptAssociations.get(0).getSystem()!=null}">
            <h2><h:outputText value="#{msg.conceptAssociation}"/></h2>

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col" class="col-xs-1">#{msg.conceptAssociationVersion}</th>
                    <th scope="col" class="col-xs-2">#{msg.conceptAssociationSystem}</th>
                    <th scope="col" class="col-xs-3">#{msg.conceptAssociationTerm}</th>
                    <th scope="col" class="col-xs-4">#{msg.conceptAssociationText}</th>
                    <th scope="col" class="col-xs-2">#{msg.conceptAssociationLinkType}</th>
                </tr>
                </thead>

                <tbody>
                <ui:repeat var="ca" value="#{cc.attrs.bean.conceptAssociations}">
                    <tr class="tableVCenter">
                        <td>
                            #{ca.version}
                        </td>
                        <td>
                            #{ca.system}
                        </td>
                        <td>
                            #{ca.term}
                        </td>
                        <td>
                            #{ca.text}
                        </td>
                        <td>
                            #{ca.linktype}
                        </td>
                    </tr>
                </ui:repeat>
                </tbody>
            </table>
        </ui:fragment>
    </ui:fragment>
</composite:implementation>

</html>
