<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:composite="http://xmlns.jcp.org/jsf/composite"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<composite:interface>
    <composite:attribute name="bean"/>
    <composite:attribute name="readonly" default="false"/>
</composite:interface>

<composite:implementation>
    <ui:fragment rendered="#{! cc.attrs.readonly || cc.attrs.bean.languages.size() > 0}">
        <h2>#{msg.requiredLanguages}</h2>
        <div class="well">
            <ui:repeat value="#{cc.attrs.bean.languages}" var="l">
                <h:panelGroup layout="block" styleClass="form-group">
                    <div class="col-xs-10">#{msg[l]}</div>

                    <div class="col-xs-2">
                        <h:commandButton action="#{cc.attrs.bean.removeLanguage(l)}" value="#{msg.remove}" styleClass="btn btn-default"
                                rendered="#{! cc.attrs.readonly}">
                            <f:ajax render="@form" execute="@form"/>
                        </h:commandButton>
                    </div>
                </h:panelGroup>
            </ui:repeat>

            <h:panelGroup layout="block" styleClass="form-group" rendered="#{! cc.attrs.readonly}">
                <h:outputLabel for="language" value="#{msg.language}" styleClass="col-xs-2 control-label"/>

                <div class="col-xs-8">
                    <h:selectOneMenu id="language" styleClass="form-control select2" value="#{changeNamespaceWizard.language}">
                        <f:selectItems var="l" value="#{mdr.languages}" itemValue="#{l}" itemLabel="#{msg[l]}"/>
                    </h:selectOneMenu>
                </div>

                <div class="col-xs-2">
                    <h:commandButton rendered="#{cc.attrs.readonly != 'true'}" styleClass="btn btn-default" value="#{msg.add}"
                            action="#{cc.attrs.bean.addLanguage}">
                        <f:ajax render="@form" execute="@form"/>
                    </h:commandButton>
                </div>
            </h:panelGroup>
        </div>
    </ui:fragment>

    <ui:fragment rendered="#{! cc.attrs.readonly || cc.attrs.bean.constraintSlots.size() > 0}">
        <h2>#{msg.requiredSlots}</h2>
        <div class="well">
            <ui:repeat value="#{cc.attrs.bean.constraintSlots}" var="s">
                <h:panelGroup layout="block" styleClass="form-group">
                    <div class="col-xs-10">#{s}</div>

                    <div class="col-xs-2">
                        <h:commandButton action="#{cc.attrs.bean.removeSlotConstraint(s)}" value="#{msg.remove}" styleClass="btn btn-default"
                                rendered="#{! cc.attrs.readonly}">
                            <f:ajax render="@form" execute="@form"/>
                        </h:commandButton>
                    </div>
                </h:panelGroup>
            </ui:repeat>

            <h:panelGroup layout="block" styleClass="form-group" rendered="#{! cc.attrs.readonly}">
                <h:outputLabel for="slot" value="#{msg.slotName}" styleClass="col-xs-2 control-label"/>

                <h:panelGroup styleClass="col-xs-8 #{cc.attrs.readonly ? 'form-control-static' : ''}" layout="block">
                    <h:inputText id="slot" styleClass="form-control" value="#{cc.attrs.bean.slot}"/>
                </h:panelGroup>

                <div class="col-xs-2">
                    <h:commandButton rendered="#{! cc.attrs.readonly}" styleClass="btn btn-default" value="#{msg.add}"
                            action="#{cc.attrs.bean.addSlotConstraint}">
                        <f:ajax render="@form" execute="@form"/>
                    </h:commandButton>
                </div>
            </h:panelGroup>
        </div>
    </ui:fragment>
</composite:implementation>

</html>
