<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:composite="http://xmlns.jcp.org/jsf/composite"
                xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply">

    <!-- For now, simply write the urn and offer a link.
     Possible improvements could be to directly embed the element, show who created it and when,
     or to show the path(s) to the element(s) -->
    <composite:interface>
        <composite:attribute name="elementId" required="true" type="java.lang.Integer"/>
    </composite:interface>

    <composite:implementation>
        <div class="form-group row">
            <h:outputLabel value="#{msg.importedElement}" for="importedElement" styleClass="col-xs-2 control-label"/>

            <div class="col-xs-8 col-xs-offset-2">
                <sa:element id="importedElement" element="#{stagingDetailViewBean.createdElement}"
                            collapsible="true" detailLink="true" linktarget="_new"/>
            </div>
        </div>
    </composite:implementation>

</ui:composition>