<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:composite="http://xmlns.jcp.org/jsf/composite"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply">


<composite:interface>
    <composite:attribute name="list" required="true" type="java.util.List"/>
    <composite:attribute name="detailLink" default="false"/>
    <composite:attribute name="draggable" default="false"/>
    <composite:attribute name="sortable" default="false"/>
    <composite:attribute name="removable" default="false"/>
    <composite:attribute name="starrable" default="false"/>
    <composite:attribute name="collapsible" default="false"/>
    <composite:attribute name="showEmptyText" default="true"/>
    <composite:attribute name="emptyText" default="#{msg.emptyList}"/>
    <composite:attribute name="valueDomain" default="null"/>
    <composite:attribute name="checkable" default="false"/>
    <composite:attribute name="detailPage" default="/shortDetail.xhtml"/>
    <composite:attribute name="readonly" default="true"/>
    <composite:attribute name="releasable" default="false"/>
    <composite:attribute name="linktarget" required="false"/>
</composite:interface>

<composite:implementation>
    <ui:fragment rendered="#{empty cc.attrs.list and cc.attrs.showEmptyText}">
        <h3><h:outputText value="#{cc.attrs.emptyText}" escape="false"/></h3>
    </ui:fragment>

    <ui:repeat var="entry" value="#{cc.attrs.list}">
        <ui:param name="element" value="#{entry.mdrElement}" />
        <div class="col-xs-12" style="margin-bottom: 2px;">
            <div class="label label-info">
                <h:outputText value="#{entry.relationType.literal}" />
            </div>
        </div>
        <sa:element element="#{element}" detailLink="#{cc.attrs.detailLink}" draggable="#{cc.attrs.draggable}"
            sortable="#{cc.attrs.sortable}" removable="#{cc.attrs.removable}" starrable="#{cc.attrs.starrable}"
            collapsible="#{cc.attrs.collapsible}" checkable="#{cc.attrs.checkable}" valueDomain="#{cc.attrs.valueDomain}" selectable="#{cc.attrs.selectable}"
            detailPage="#{cc.attrs.detailPage}" readonly="#{cc.attrs.readonly}" releasable="#{cc.attrs.releasable}" linktarget="#{cc.attrs.linktarget}"/>
    </ui:repeat>
</composite:implementation>

</html>
