<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <cc:interface>
        <cc:attribute name="selectedImport" required="true" type="de.samply.mdr.dal.dto.Import" />
        <cc:attribute name="readonly" default="true"/>
    </cc:interface>

    <cc:implementation>

        <ol class="breadcrumb">
            <ui:repeat value="#{stagingDetailViewBean.ancestors}" var="ancestor">
                <li>#{stagingDetailViewBean.getTextFromJsonObject(ancestor)}</li>
            </ui:repeat>
            <li class="active">#{stagingDetailViewBean.selectedImportDisplayname}</li>
        </ol>

        <div class="panel panel-import">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align: left; font-weight: bold">#{msg.elementType}: #{msg['import']}</h3>
            </div>
            <h:panelGroup layout="block" styleClass="panel-body" rendered="#{not empty cc.attrs.selectedImport.convertedAt}">
                <h:outputText value="#{msg.importConvertedAt} #{cc.attrs.selectedImport.convertedAt}" />
            </h:panelGroup>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align: left; font-weight: bold">#{msg.importActionsHeading}</h3>
            </div>
            <div class="panel-body">
                <h:outputText value="#{msg.importActionsText}" />
            </div>
            <div class="panel-footer">
                <h:form>
                    <h:commandLink styleClass="btn btn-danger"
                                   value="#{msg.delete_import}"
                                   action="#{stagingDetailViewBean.delete}"/>
                    <h:commandLink styleClass="btn btn-primary"
                                   style="margin-left: 10px;"
                                   value="#{msg.convert_import}"
                                   action="#{stagingDetailViewBean.toDraft}"/>
                </h:form>
            </div>
        </div>

    </cc:implementation>

</ui:composition>
