<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:cc="http://xmlns.jcp.org/jsf/composite"
                xmlns:o="http://omnifaces.org/ui">

    <!--
        Shows recommendations for entered definitions
     -->

    <cc:interface>
        <!-- A bean that has a list of definitions. -->
        <cc:attribute name="bean"/>

        <!-- If true, the button to add new definitions is not rendered. Also, if the list is longer than one, it shows all definitions in a table. -->
        <cc:attribute name="readonly" default="false"/>

        <!-- If true, the scroll fragment that scrolls (on the client side) to the last definition is enabled. -->
        <cc:attribute name="scroll" default="false"/>
    </cc:interface>

    <cc:implementation>
        <div class="well">
            <h3>#{msg.searchRecommendations}:</h3>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <input id="recommendationsearchbar" class="form-control" placeholder="#{msg.search}" value="#{cc.attrs.bean.searchedString}"/>
                </div>
                <div class="col-md-1">
                    <button type="button" id="options-btn" class="btn btn-sm btn-default"><i class="fa fa-gear"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2 search-options">
                    <label for="limit">Limit (0 = unlimited)</label>
                    <input id="limit" class="form-control" value="#{cc.attrs.bean.limit}"/>
                </div>
                <div class="col-md-2 search-options">
                    <label for="threshold">Threshold (0-100%)</label>
                    <input id="threshold" class="form-control" value="#{cc.attrs.bean.threshold}"/>
                </div>
            </div>
            <br/>
            <div id="recommendations"></div>
            <o:commandScript name="setSelectedUrn" action="#{cc.attrs.bean.setSelectedUrn()}" />
            <h:outputScript>
                var msg = {
                    foundRecommendations: '#{msg.foundRecommendations}',
                    designation: '#{msg.designation}',
                    definition: '#{msg.definition}',
                    datatype: '#{msg.datatype}',
                    deselect: '#{msg.deselect}',
                    select: '#{msg.select}',
                    language: '#{msg.language}',
                    showAdditionalLanguages: '#{msg.showAdditionalLanguages}',
                    hideAdditionalLanguages: '#{msg.hideAdditionalLanguages}'
                };
                var previouslySearched = '#{cc.attrs.bean.searchedString}';
                var selectedUrn = '#{cc.attrs.bean.selectedUrn}';
            </h:outputScript>
            <h:outputScript name="js/comparison.js"/>
            <h:outputScript name="js/recommendations.js"/>
        </div>
    </cc:implementation>

</ui:composition>