<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:composite="http://xmlns.jcp.org/jsf/composite"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
    xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply"
    xmlns:samply="http://samply.de">

<composite:interface>
    <composite:attribute name="list" required="true"/>
    <composite:attribute name="detailLink" default="false"/>
    <composite:attribute name="removable" default="false"/>
    <composite:attribute name="collapsible" default="false"/>
    <composite:attribute name="showEmptyText" default="true"/>
    <composite:attribute name="emptyText" default="#{msg.emptyList}"/>
    <composite:attribute name="valueDomain" default="null"/>
    <composite:attribute name="checkable" default="false"/>
    <composite:attribute name="detailPage" default="/stagingDetail.xhtml"/>
    <composite:attribute name="readonly" default="true"/>
    <composite:attribute name="releasable" default="false"/>
    <composite:attribute name="pagination" default="true" type="java.lang.Boolean" />
    <composite:attribute name="pageSize" default="20" type="java.lang.Integer" />
</composite:interface>

<composite:implementation>
    <h:outputScript name="webjars/twbs-pagination/1.4.1/jquery.twbsPagination.min.js" target="head" />

    <ui:fragment rendered="#{cc.attrs.list.size() == 0 and cc.attrs.showEmptyText}">
        <h3><h:outputText value="#{cc.attrs.emptyText}" escape="false"/></h3>
    </ui:fragment>

    <ui:repeat var="element" value="#{cc.attrs.list}" varStatus="status">
        <sa:stagedElement element="#{element}" detailLink="#{cc.attrs.detailLink}" removable="#{cc.attrs.removable}"
            collapsible="#{cc.attrs.collapsible}" checkable="#{cc.attrs.checkable}" valueDomain="#{cc.attrs.valueDomain}"
            detailPage="#{cc.attrs.detailPage}" readonly="#{cc.attrs.readonly}" releasable="#{cc.attrs.releasable}" index="#{status.index}"
            showOnLoad="#{status.index lt cc.attrs.pageSize}"
        />
    </ui:repeat>

    <ui:fragment rendered="#{cc.attrs.pagination}">
        <ui:param name="pages" value="#{samply:createPageArray(cc.attrs.list.size(), cc.attrs.pageSize)}" />
        <ui:fragment rendered="#{fn:length(pages) > 1}">
            <nav aria-label="Page navigation">
                <ul id="pagination-top" class="pagination pagination-md">
                    <ui:repeat value="#{pages}" var="page" varStatus="status">
                        <li><a href="#" >#{page}</a></li>
                    </ui:repeat>
                </ul>
            </nav>
            <h:outputScript>
                initPagination('#{cc.attrs.pageSize}');
            </h:outputScript>
        </ui:fragment>
    </ui:fragment>
</composite:implementation>
    <!--onclick="changeStagingPage('#{page}', '#{cc.attrs.pageSize}');"-->

</ui:composition>
