<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:composite="http://xmlns.jcp.org/jsf/composite"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply"
    xmlns:st="http://samply.de">

<composite:interface>
    <composite:attribute name="staging" required="true" type="de.samply.mdr.dal.dto.Staging"/>
    <composite:attribute name="element" required="true" type="de.samply.mdr.xsd.staging.StagedElementType"/>
    <composite:attribute name="valueDomain" default="null"/>
    <composite:attribute name="renderDefinitions" default="true"/>
    <composite:attribute name="renderSlots" default="true"/>
    <composite:attribute name="renderHeaders" default="true"/>
    <composite:attribute name="detailPage" default="/stagingShortDetail.xhtml"/>
    <composite:attribute name="readonly" default="true"/>
</composite:interface>

<composite:implementation>

    <ol class="breadcrumb">
        <ui:repeat value="#{stagingDetailViewBean.ancestors}" var="ancestor">
            <li>#{stagingDetailViewBean.getTextFromJsonObject(ancestor)}</li>
        </ui:repeat>
        <li class="active">#{stagingDetailViewBean.getPrioritizedDefinition().designation}</li>
    </ol>

    <div class="panel panel-#{cc.attrs.element.elementType.value()}">
        <div class="panel-heading">
            <h3 class="panel-title" style="text-align: left; font-weight: bold">#{msg.elementType}: #{msg[cc.attrs.element.elementType]}</h3>
        </div>
        <h:panelGroup layout="block" styleClass="panel-body" rendered="#{cc.attrs.staging.elementId > 0}">
            <sa:elementLinkInternal elementId="#{cc.attrs.staging.elementId}" />
        </h:panelGroup>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" style="text-align: left; font-weight: bold">#{msg.definition}</h3>
        </div>
        <div class="panel-body">
            <sa:stagingDefinitions definitions="#{st:convertDefinitions(cc.attrs.element.definitions)}" readonly="true"/>
        </div>
    </div>

    <ui:fragment rendered="#{cc.attrs.element.elementType == 'DATAELEMENT'}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align: left; font-weight: bold">#{msg.validation}</h3>
            </div>
            <div class="panel-body">
                <sa:stagingValueDomain valueDomain="#{st:validationToValueDomain(userBean.getUserId(), cc.attrs.element.validation)}" readonly="true" detailPage="/codeList.xhtml?urn=#{cc.attrs.element.id}"/>
            </div>
        </div>
    </ui:fragment>

    <!--<ui:fragment rendered="#{cc.attrs.element.elementType == 'DATAELEMENTGROUP' or cc.attrs.element.elementType == 'RECORD' or-->
                    <!--cc.attrs.element.elementType == 'CODE' or cc.attrs.element.elementType == 'CATALOG'}">-->
        <!--<div id="elements">-->
            <!--<h:outputText value="members not displayed at the moment" />-->
            <!--&lt;!&ndash;<sa:stagedElements list="#{cc.attrs.element.members.elements.element}" detailLink="#{cc.attrs.detailLink}" removable="#{cc.attrs.removable}"&ndash;&gt;-->
            <!--&lt;!&ndash;collapsible="#{cc.attrs.collapsible}" checkable="#{cc.attrs.checkable}" pagination="false"&ndash;&gt;-->
            <!--&lt;!&ndash;emptyText="#{msg.noMembers}" valueDomain="#{cc.attrs.valueDomain}" detailPage="#{cc.attrs.detailPage}"&ndash;&gt;-->
            <!--&lt;!&ndash;readonly="#{cc.attrs.readonly}"/>&ndash;&gt;-->
        <!--</div>-->
    <!--</ui:fragment>-->

    <ui:fragment rendered="#{not empty cc.attrs.element.slots}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align: left; font-weight: bold">#{msg.slots}</h3>
            </div>
            <div class="panel-body">
                <sa:stagingSlots slots="#{st:convertSlots(cc.attrs.element.slots)}" readonly="true"/>
            </div>
        </div>
    </ui:fragment>

    <ui:fragment rendered="#{not empty cc.attrs.element.conceptAssociations}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align: left; font-weight: bold">#{msg.conceptAssociation}</h3>
            </div>
            <div class="panel-body">
                <sa:stagingConceptAssociation conceptAssociation="#{st:convertConceptAssociation(cc.attrs.element.conceptAssociations)}" readonly="true"/>
            </div>
        </div>
    </ui:fragment>
</composite:implementation>

</html>
