<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:composite="http://xmlns.jcp.org/jsf/composite"
    xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<composite:interface>
    <composite:attribute name="valueDomain"/>
    <composite:attribute name="readonly" default="false"/>
    <composite:attribute name="change" default="false"/>
    <composite:attribute name="detailPage" default="/shortDetail.xhtml"/>
</composite:interface>

<composite:implementation>
    <div class="form-group row">
        <h:outputLabel value="#{msg.validationType}" for="datatype" styleClass="col-xs-2 control-label"/>

        <div class="col-xs-8 col-xs-offset-2">
            <h:selectOneMenu id="datatype" styleClass="form-control select2" value="#{cc.attrs.valueDomain.datatype}"
                    disabled="true">
                <f:selectItems var="i" value="#{mdr.datatypeFields}" itemValue="#{i}" itemLabel="#{msg[i]}"/>
            </h:selectOneMenu>
        </div>
    </div>

    <!-- ################## -->
    <!-- Format for Strings -->
    <!-- ################## -->

    <h:panelGroup rendered="#{cc.attrs.valueDomain.datatype == 'STRING'}" layout="block">
        <div class="form-group row" >
            <h:outputLabel value="#{msg.maxLength}" for="max-length" styleClass="col-xs-2 control-label"/>

            <div class="col-xs-8 col-xs-offset-2">
                <div class="input-group">
                    <span class="input-group-addon">
                        <h:selectBooleanCheckbox id="max-length" value="#{cc.attrs.valueDomain.useMaxLength}" disabled="#{cc.attrs.readonly}">
                            <f:ajax execute="@form" render="@form" />
                        </h:selectBooleanCheckbox>
                    </span>

                    <h:inputText styleClass="form-control" value="#{cc.attrs.valueDomain.maxLength}"
                            disabled="#{! cc.attrs.valueDomain.useMaxLength || cc.attrs.readonly}" pt:placeholder="#{msg.maxLengthPlaceholder}">
                        <f:convertNumber/>
                    </h:inputText>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <h:outputLabel value="#{msg.useRegex}" for="use-regex" styleClass="col-xs-2 control-label" />

            <div class="col-xs-8 col-xs-offset-2">
                <div class="checkbox">
                    <label>
                        <h:selectBooleanCheckbox id="use-regex" value="#{cc.attrs.valueDomain.useRegex}" disabled="#{cc.attrs.readonly}">
                            <f:ajax execute="@form" render="@form" />
                        </h:selectBooleanCheckbox>
                    </label>
                </div>
            </div>
        </div>

        <h:panelGroup layout="block" styleClass="form-group row" rendered="#{cc.attrs.valueDomain.useRegex}">
            <h:outputLabel value="#{msg.regex}" for="format" styleClass="col-xs-2 control-label"/>

            <div class="col-xs-8 form-control-static col-xs-offset-2">
                <h:outputText rendered="#{cc.attrs.readonly}" value="#{cc.attrs.valueDomain.format}"/>
                <h:inputText id="format" rendered="#{! cc.attrs.readonly}" styleClass="form-control" value="#{cc.attrs.valueDomain.format}"
                        pt:placeholder="#{msg.regexPlaceholder}"/>
            </div>
        </h:panelGroup>

    </h:panelGroup>

    <!-- ##### -->
    <!-- Numeric -->
    <!-- ##### -->

    <h:panelGroup rendered="#{cc.attrs.valueDomain.datatype == 'INTEGER' or cc.attrs.valueDomain.datatype == 'FLOAT'}">
        <ui:fragment rendered="#{cc.attrs.readonly and cc.attrs.valueDomain.withinRange}">

            <div class="form-group row">
                <h:outputLabel for="num-range" value="#{msg.numRange}" styleClass="col-xs-2 control-label" />

                <div class="col-xs-8 col-xs-offset-2 form-control-static">
                    <h:outputText value="#{cc.attrs.valueDomain.numericRange}" id="num-range" />
                </div>
            </div>

        </ui:fragment>

        <div class="form-group row">
            <h:outputLabel for="unitOfMeasure" value="#{msg.unitOfMeasure}" styleClass="col-xs-2 control-label"/>

            <div class="col-xs-8 col-xs-offset-2 form-control-static">
                <h:outputText rendered="#{cc.attrs.readonly}" value="#{cc.attrs.valueDomain.unitOfMeasure}"/>
                <h:inputText id="unitOfMeasure" rendered="#{! cc.attrs.readonly}" styleClass="form-control" value="#{cc.attrs.valueDomain.unitOfMeasure}"/>
            </div>
        </div>

    </h:panelGroup>

    <!-- ########### -->
    <!-- Date Format -->
    <!-- ########### -->

    <h:panelGroup rendered="#{cc.attrs.valueDomain.datatype == 'DATE' or cc.attrs.valueDomain.datatype == 'DATETIME'}" layout="block">
        <div class="form-group row">
            <h:outputLabel for="date-representation" value="#{msg.dateRepresentation}" styleClass="col-xs-2 control-label"/>

            <h:panelGroup layout="block" styleClass="col-xs-8 col-xs-offset-2">
                <h:selectOneMenu id="date-representation" styleClass="form-control select2" value="#{cc.attrs.valueDomain.dateRepresentation}"
                        disabled="#{cc.attrs.readonly}">
                    <f:selectItems var="i" value="#{mdr.dateRepresentations}" itemValue="#{i}" itemLabel="#{msg[i]}"/>
                    <f:ajax execute="@form" render="@form" />
                </h:selectOneMenu>
            </h:panelGroup>
        </div>

        <h:panelGroup styleClass="form-group row" layout="block"
                rendered="#{cc.attrs.valueDomain.datatype == 'DATE' and cc.attrs.valueDomain.dateRepresentation != 'LOCAL_DATE'}">
            <h:outputLabel for="with-days" value="#{msg.withDays}" styleClass="col-xs-2 control-label" />

            <h:panelGroup layout="block" styleClass="col-xs-8 col-xs-offset-2">
                <div class="checkbox">
                    <label>
                        <h:selectBooleanCheckbox id="with-days" value="#{cc.attrs.valueDomain.withDays}"
                                disabled="#{cc.attrs.readonly}">
                            <f:ajax execute="@form" render="@form" />
                        </h:selectBooleanCheckbox>
                    </label>
                </div>
            </h:panelGroup>
        </h:panelGroup>
    </h:panelGroup>

    <!-- ########### -->
    <!-- Time Format -->
    <!-- ########### -->

    <h:panelGroup rendered="#{cc.attrs.valueDomain.datatype == 'DATETIME' or cc.attrs.valueDomain.datatype == 'TIME'}" layout="block">
        <div class="form-group row">
            <h:outputLabel for="time-representation" value="#{msg.timeRepresentation}" styleClass="col-xs-2 control-label"/>

            <h:panelGroup layout="block" styleClass="col-xs-8 col-xs-offset-2">
                <h:selectOneMenu id="time-representation" styleClass="form-control select2" value="#{cc.attrs.valueDomain.timeRepresentation}"
                        disabled="#{cc.attrs.readonly}">
                    <f:selectItems var="i" value="#{mdr.timeRepresentations}" itemValue="#{i}" itemLabel="#{msg[i]}"/>
                    <f:ajax execute="@form" render="@form" />
                </h:selectOneMenu>
            </h:panelGroup>
        </div>

        <div class="form-group row">
            <h:outputLabel for="with-seconds" value="#{msg.withSeconds}" styleClass="col-xs-2 control-label" />

            <h:panelGroup layout="block" styleClass="col-xs-8 col-xs-offset-2">
                <div class="checkbox">
                    <label>
                        <h:selectBooleanCheckbox id="with-seconds" value="#{cc.attrs.valueDomain.withSeconds}" disabled="#{cc.attrs.readonly}">
                            <f:ajax execute="@form" render="@form" />
                        </h:selectBooleanCheckbox>
                    </label>
                </div>
            </h:panelGroup>
        </div>
    </h:panelGroup>

    <!-- ################# -->
    <!--  The Catalog URI  -->
    <!-- ################# -->

    <h:panelGroup rendered="#{cc.attrs.valueDomain.datatype == 'CATALOG'}" layout="block">
        <div class="form-group row">
            <h:outputLabel value="#{msg.catalog}" styleClass="col-xs-12 control-label"/>
        </div>
        <div class="form-group row">
            <sa:element element="#{cc.attrs.valueDomain.catalogRoot.element}" rendered="true"/>
        </div>
    </h:panelGroup>

    <!-- ######################### -->
    <!--  List of permitted Values -->
    <!-- ######################### -->

    <h:panelGroup rendered="#{cc.attrs.valueDomain.datatype == 'LIST'}" layout="block">
        <sa:permittedValues bean="#{cc.attrs.valueDomain}" readonly="#{cc.attrs.readonly}" change="#{cc.attrs.change}"/>
    </h:panelGroup>
</composite:implementation>

</html>
