<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:composite="http://xmlns.jcp.org/jsf/composite"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<!--
    Shows a list of definitions.
 -->

<composite:interface>
    <composite:attribute name="definitions"/>

    <!-- If true, the button to add new definitions is not rendered. Also, if the list is longer than one, it shows all definitions in a table. -->
    <composite:attribute name="readonly" default="false"/>

    <!-- If true, the scroll fragment that scrolls (on the client side) to the last definition is enabled. -->
    <composite:attribute name="scroll" default="false"/>
</composite:interface>

<composite:implementation>
    <ui:repeat value="#{cc.attrs.definitions}" var="d" rendered="#{! cc.attrs.readonly}">
        <div class="well">
            <div class="form-group">
                <h:outputLabel for="designation" value="#{msg.designation}" styleClass="col-xs-2 control-label"/>

                <h:panelGroup styleClass="col-xs-8 #{cc.attrs.readonly ? 'form-control-static' : ''}" layout="block">
                    <h:inputText id="designation" rendered="#{cc.attrs.readonly != 'true'}" styleClass="form-control" value="#{d.designation}"
                                 pt:placeholder="#{msg.designationPlaceholder}"/>
                </h:panelGroup>
            </div>

            <div class="form-group">
                <h:outputLabel for="definition" value="#{msg.definition}" styleClass="col-xs-2 control-label"/>

                <h:panelGroup styleClass="col-xs-8 #{cc.attrs.readonly ? 'form-control-static' : ''}" layout="block">
                    <h:inputText id="definition" rendered="#{!cc.attrs.readonly}" styleClass="form-control" value="#{d.definition}"
                        pt:placeholder="#{msg.definitionPlaceholder}"/>
                </h:panelGroup>
            </div>

            <div class="form-group">
                <h:outputLabel for="language" value="#{msg.language}" styleClass="col-xs-2 control-label"/>

                <div class="col-xs-8">
                    <h:selectOneMenu id="language" styleClass="form-control select2" value="#{d.language}" disabled="#{cc.attrs.readonly == 'true'}" onclick="console.log('triggered');">
                        <f:selectItems var="l" value="#{mdr.languages}" itemValue="#{l}" itemLabel="#{msg[l]}"/>
                    </h:selectOneMenu>
                </div>
            </div>
        </div>
    </ui:repeat>

    <ui:fragment rendered="#{cc.attrs.readonly}">
        <table class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th scope="col" class="col-xs-1">#{msg.language}</th>
                    <th scope="col" class="col-xs-4">#{msg.designation}</th>
                    <th scope="col" class="col-xs-7">#{msg.definition}</th>
                </tr>
            </thead>

            <tbody>
                <ui:repeat var="d" value="#{cc.attrs.definitions}">
                    <tr class="tableVCenter">
                        <td>
                            #{d.language}
                        </td>
                        <td>
                            #{d.designation}
                        </td>
                        <td>
                            #{d.definition}
                        </td>
                    </tr>
                </ui:repeat>
            </tbody>
        </table>
    </ui:fragment>
</composite:implementation>

</ui:composition>
