<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:composite="http://xmlns.jcp.org/jsf/composite"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions">

<composite:interface>
    <composite:attribute name="element" required="true"/>
    <composite:attribute name="detailLink" default="false"/>
    <composite:attribute name="removable" default="false"/>
    <composite:attribute name="collapsible" default="false"/>
    <composite:attribute name="checkable" default="false"/>
    <composite:attribute name="detailPage" default="/stagingShortDetail.xhtml"/>
    <composite:attribute name="valueDomain" default="null"/>
    <composite:attribute name="readonly" default="true"/>
    <composite:attribute name="releasable" default="false"/>
    <composite:attribute name="index" default="0" type="java.lang.Integer" />
    <composite:attribute name="showOnLoad" default="true" type="java.lang.Boolean" />
</composite:interface>

<composite:implementation>

    <div class="row" data-index="#{cc.attrs.index}" style="#{cc.attrs.showOnLoad ? '' : 'display: none;'}">
        <h:panelGroup styleClass="formItem formItem-#{fn:toLowerCase(cc.attrs.element.elementType)} col-xs-12
                #{(cc.attrs.valueDomain != 'null' and cc.attrs.valueDomain.catalog == cc.attrs.element.urn) ? 'invert' : ''}"
                    layout="block">

            <h:panelGroup styleClass="col-xs-1 vCenter" rendered="#{cc.attrs.collapsible}">
                <button type="button" onclick="collapseStagingItem(this, '#{cc.attrs.detailPage}');" class="btn btn-default">
                    <i class="fa fa-angle-down"/>
                </button>
            </h:panelGroup>

            <h:link styleClass="detailLink col-xs-9 vCenter"
                    disabled="#{! cc.attrs.detailLink}" outcome="/stagingDetail">
                <f:param name="id" value="#{cc.attrs.element.id}"/>

                <h:panelGroup styleClass="dropdown col-xs-1 vCenter" rendered="#{cc.attrs.checkable and 'code'.equalsIgnoreCase(cc.attrs.element.elementType)}" layout="block">
                    <ui:fragment rendered="#{cc.attrs.checkable and !cc.attrs.readonly}">
                        <button class="btn btn-default dropdown-toggle" type="button" id="context-btn" data-toggle="dropdown">
                            <i class="fa #{cc.attrs.valueDomain.getState(cc.attrs.element.id)} elementCheckState" style="font-size: 2em;"/>
                        </button>
                    </ui:fragment>

                    <ui:fragment rendered="#{! (cc.attrs.checkable and !cc.attrs.readonly)}">
                        <i class="fa #{cc.attrs.valueDomain.getState(cc.attrs.element.id)} elementCheckState" style="font-size: 2em;"/>
                    </ui:fragment>

                    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="context-btn">
                        <li role="presentation">
                            <a onclick="deselectAll(this);">#{msg.deselectAll}</a>
                        </li>
                        <li role="presentation">
                            <a onclick="selectAll(this);">#{msg.selectAll}</a>
                        </li>
                    </ul>
                </h:panelGroup>

                <h:panelGroup styleClass="col-xs-#{11 - ((cc.attrs.checkable and cc.attrs.element.elementType == 'code') ? 1 : 0)} vCenter">
                    <span class="designation">#{cc.attrs.element.designation}</span>
                    <!--<span class="urn">#{stagingBean.getNamespaceName(cc.attrs.element)}</span>-->
                    <span class="definition">#{stagingBean.getDefinition(cc.attrs.element)}</span>
                    <span class="elementId" style="display: none;">#{cc.attrs.element.id}</span>
                </h:panelGroup>
            </h:link>

            <h:panelGroup styleClass="vCenter" style="float: right;">
                <div class="btn-group" role="group">
                    <h:commandLink styleClass="btn btn-default" action="#{stagingBean.delete(cc.attrs.element)}" role="button"
                                     onclick="if (! confirm('#{msg.deleteDialogTitle}')) return false">
                        <i class="fa fa-trash-o text-warning"/>
                    </h:commandLink>
                    <button type="button" onclick="selectStagedItem(this);" class="btn btn-default" data-elementid="#{cc.attrs.element.id}">
                        <i class="fa fa-fw #{stagingBean.isMarked(cc.attrs.element) == true ? 'fa-check-square-o' : 'fa-square-o'}"/>
                    </button>
                </div>
            </h:panelGroup>
        </h:panelGroup>

        <div class="col-xs-12 collapse elementDetail details">

        </div>
    </div>
</composite:implementation>
</ui:composition>
