<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<composite:interface>
  <composite:attribute name="conceptAssociation"/>
  <composite:attribute name="readonly" default="false"/>
</composite:interface>

<composite:implementation>
  <ui:fragment rendered="#{! cc.attrs.readonly}">
    <div class="form-group">
      <h4 class="col-xs-4 control-label-center"><h:outputText value="#{msg.conceptAssociationSystem}"/></h4>
      <h4 class="col-xs-4 control-label-center"><h:outputText value="#{msg.conceptAssociationVersion}"/></h4>
      <h4 class="col-xs-4 control-label-center"><h:outputText value="#{msg.conceptAssociationTerm}"/></h4>
      <h4 class="col-xs-4 control-label-center"><h:outputText value="#{msg.conceptAssociationText}"/></h4>
      <h4 class="col-xs-4 control-label-center"><h:outputText value="#{msg.conceptAssociationLinkType}"/></h4>
    </div>

    <ui:repeat var="ca" value="#{cc.attrs.conceptAssociation}">
      <div class="form-group">
        <h:panelGroup styleClass="col-xs-1 #{cc.attrs.readonly ? 'form-control-static' : ''}" layout="block">
          <h:outputText rendered="#{cc.attrs.readonly == 'true'}" value="#{ca.system}"/>
          <h:inputText rendered="#{cc.attrs.readonly != 'true'}" styleClass="form-control" value="#{ca.system}"
                       pt:placeholder="#{msg.conceptAssociationSystemPlaceholder}"/>
        </h:panelGroup>

        <h:panelGroup styleClass="col-xs-2 #{cc.attrs.readonly ? 'form-control-static' : ''}" layout="block">
          <h:outputText rendered="#{cc.attrs.readonly == 'true'}" value="#{ca.version}"/>
          <h:inputText rendered="#{cc.attrs.readonly != 'true'}" styleClass="form-control" value="#{ca.version}"
                       pt:placeholder="#{msg.conceptAssociationVersionPlaceholder}"/>
        </h:panelGroup>

        <h:panelGroup styleClass="col-xs-2 #{cc.attrs.readonly ? 'form-control-static' : ''}" layout="block">
          <h:outputText rendered="#{cc.attrs.readonly == 'true'}" value="#{ca.term}"/>
          <h:inputText rendered="#{cc.attrs.readonly != 'true'}" styleClass="form-control" value="#{ca.term}"
                       pt:placeholder="#{msg.conceptAssociationTermPlaceholder}"/>
        </h:panelGroup>

        <h:panelGroup styleClass="col-xs-4 #{cc.attrs.readonly ? 'form-control-static' : ''}" layout="block">
          <h:outputText rendered="#{cc.attrs.readonly == 'true'}" value="#{ca.text}"/>
          <h:inputText rendered="#{cc.attrs.readonly != 'true'}" styleClass="form-control" value="#{ca.text}"
                       pt:placeholder="#{msg.conceptAssociationTextPlaceholder}"/>
        </h:panelGroup>

        <h:panelGroup styleClass="col-xs-2 #{cc.attrs.readonly ? 'form-control-static' : ''}" layout="block">
          <h:outputText rendered="#{cc.attrs.readonly == 'true'}" value="#{ca.linktype}"/>
          <h:inputText rendered="#{cc.attrs.readonly != 'true'}" styleClass="form-control" value="#{ca.linktype}"
                       pt:placeholder="#{msg.conceptAssociationLinkTypePlaceholder}"/>
        </h:panelGroup>
      </div>
    </ui:repeat>
  </ui:fragment>

  <ui:fragment rendered="#{cc.attrs.readonly}">
    <table class="table table-striped table-hover table-condensed">
      <thead>
      <tr>
        <th scope="col" class="col-xs-1">#{msg.conceptAssociationSystem}</th>
        <th scope="col" class="col-xs-2">#{msg.conceptAssociationVersion}</th>
        <th scope="col" class="col-xs-2">#{msg.conceptAssociationTerm}</th>
        <th scope="col" class="col-xs-4">#{msg.conceptAssociationText}</th>
        <th scope="col" class="col-xs-2">#{msg.conceptAssociationLinkType}</th>
      </tr>
      </thead>
      <tbody>
      <ui:repeat var="ca" value="#{cc.attrs.conceptAssociation}">
        <tr class="tableVCenter">
          <td>#{ca.system}</td>
          <td>#{ca.version}</td>
          <td>#{ca.term}</td>
          <td>#{ca.text}</td>
          <td>#{ca.linktype}</td>
        </tr>
      </ui:repeat>
      </tbody>
    </table>
  </ui:fragment>
</composite:implementation>

</html>
