<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>

  <div class="modal fade" tabindex="-1" role="dialog" id="about-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&#xD7;</span></button>
          <h4 class="modal-title">#{msg.about_appinfo}</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-4">
              <h:outputText value="#{msg.about_version}" />
            </div>
            <div class="col-xs-8">
              <h:outputText value="#{applicationBean.version}" />
            </div>
          </div>

          <div class="row">
            <div class="col-xs-4">
              <h:outputText value="#{msg.about_builddate}" />
            </div>
            <div class="col-xs-8">
              <h:outputText value="#{applicationBean.buildDate}" />
            </div>
          </div>

          <div class="row">
            <div class="col-xs-4">
              <h:outputText value="#{msg.about_scm_info_branch}" />
            </div>
            <div class="col-xs-8">
              <h:outputText value="#{applicationBean.buildCommitBranch}" />
            </div>
          </div>


          <div class="row">
            <div class="col-xs-4">
              <h:outputText value="#{msg.about_scm_info_commit}" />
            </div>
            <div class="col-xs-8">
              <h:outputText value="#{applicationBean.buildCommitHash}" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</ui:composition>