<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        template="wizard.xhtml">

    <ui:param name="bodyClass" value="container" />
    <ui:param name="formContainerClass" value="col-xs-12" />
    <ui:param name="title" value="#{msg.conceptAssociation}"/>

    <ui:define name="formContainer">
        <sa:conceptAssociation bean="#{bean}" readonly="false"/>

        <h:commandButton id="cancelBtn" action="#{bean.reset}" style="display:none;"/>
        <h:commandButton id="verifyBtn" action="#{bean.validateConceptAssociation}" style="display:none;"/>
        <h:commandButton id="previousBtn" action="#{bean.previousStep(view.viewId)}" style="display: none;" />
    </ui:define>

</ui:composition>
