<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:panelGroup layout="block" id="messages">
        <h:messages showSummary="false" showDetail="true"
            styleClass="list-group"
            errorClass="list-group-item list-group-item-danger"
            infoClass="list-group-item list-group-item-success" />
    </h:panelGroup>

</ui:composition>