<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        template="wizard.xhtml">

  <ui:param name="bodyClass" value="container" />
  <ui:param name="formContainerClass" value="col-xs-12" />
  <ui:param name="title" value="#{msg.recommendations}"/>

  <ui:define name="formContainer">
    <ui:insert name="preDefinitions"/>

    <sa:recommendedElements bean="#{bean}" readonly="false" id="recommendations" scroll="true"/>

    <h:commandButton id="cancelBtn" action="#{bean.reset}" style="display:none;"/>
    <h:commandButton id="verifyBtn" action="#{bean.continueToDefinitions}" style="display:none;"/>
  </ui:define>

  <ui:define name="misc">
    <!-- This script just scrolls to the last div block of the permitted value that has been added. -->

    <h:panelGroup id="scrollFragment" layout="block">
      <script type="text/javascript">
        scrollTo("#wizardForm div:last");
      </script>
    </h:panelGroup>
  </ui:define>

</ui:composition>
