<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

        <div class="well">
            <h:panelGroup styleClass="form-group" layout="block" rendered="#{allSources}">
                <h:outputLabel value="#{msg.source}" for="searchSource" styleClass="col-xs-2 control-label"/>

                <h:panelGroup styleClass="col-xs-10">
                    <h:selectOneMenu id="searchSource" value="#{searchBean.source}" styleClass="form-control">
                        <f:selectItems value="#{mdr.sources}" var="source" itemLabel="#{msg[source.toString()]}" itemValue="#{source}"/>
                        <f:ajax render="@form" event="change" execute="@form"/>
                    </h:selectOneMenu>
                </h:panelGroup>
            </h:panelGroup>

            <div class="form-group">
                <h:outputLabel value="#{msg.search}" for="search" styleClass="col-xs-2 control-label"/>

                <h:panelGroup styleClass="col-xs-10" layout="block">
                    <h:inputText id="search" styleClass="form-control" value="#{searchBean.searchText}"
                        pt:placeholder="#{msg.searchPlaceholder}"/>
                </h:panelGroup>
            </div>

            <ui:fragment rendered="#{searchBean.source == 'CADSR'}">
                <h:panelGroup styleClass="form-group" layout="block">
                    <div class="col-xs-10 col-xs-offset-2">
                        <h:commandButton styleClass="btn btn-default pull-right cadsrSearch" value="#{msg.search}"
                                onclick="$('#wrapperResults').show();$('.processingWrapper').show();$('#searchWrapper\\:searchResults').hide();"
                                action="#{searchBean.updateCadsrResults}">
                        </h:commandButton>
                    </div>
                </h:panelGroup>

                <h:commandButton action="#{searchBean.loadNext()}" style="display: none" styleClass="cadsrLoadNext">
                    <f:ajax render="searchWrapper:searchResults"/>
                </h:commandButton>
            </ui:fragment>

            <ui:fragment rendered="#{searchBean.source == 'LOCALMDR'}">
                <div class="form-group">
                    <h:outputLabel value="#{msg.searchFor}" for="searchType" styleClass="col-xs-2 control-label" />

                    <h:panelGroup class="col-xs-10" layout="block">
                        <h:selectOneRadio id="searchType" value="#{searchBean.searchType}" layout="pageDirection">
                            <f:selectItems value="#{searchBean.searchTypes}" var="t" itemLabel="#{msg[t.toString()]}" itemValue="#{t}"/>
                            <f:ajax render="@form" execute="@form"/>
                        </h:selectOneRadio>
                    </h:panelGroup>
                </div>

                <ui:fragment rendered="#{searchBean.searchType == 'ELEMENTS'}">
                    <div class="form-group">
                        <h:outputLabel value="#{msg.searchFor}" for="searchFor" styleClass="col-xs-2 control-label"/>

                        <h:panelGroup class="col-xs-10" layout="block">
                            <h:selectManyCheckbox id="searchFor" value="#{searchBean.selectedTypes}" layout="pageDirection">
                                <f:selectItems value="#{searchBean.types}" var="v" itemLabel="#{msg[v.toString()]}" itemValue="#{v}"/>
                            </h:selectManyCheckbox>
                        </h:panelGroup>
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="#{msg.searchStatus}" for="searchStatus" styleClass="col-xs-2 control-label"/>

                        <h:panelGroup class="col-xs-10" id="searchStatus" layout="block">
                            <h:selectManyCheckbox value="#{searchBean.selectedStatuses}" layout="pageDirection">
                                <f:selectItems value="#{searchBean.statuses}" var="v" itemLabel="#{msg[v.toString()]}" itemValue="#{v}"/>
                            </h:selectManyCheckbox>
                        </h:panelGroup>
                    </div>
                </ui:fragment>

                <ui:fragment rendered="#{! resultTab}">
                    <h:commandButton styleClass="searchSubmit" action="#{searchBean.updateResults}" style="display: none;">
                        <f:ajax render="searchWrapper:searchResults searchWrapper:namespaceForm" execute="@form" onevent="scrollToResults"/>
                    </h:commandButton>
                </ui:fragment>

                <ui:fragment rendered="#{resultTab}">
                    <h:commandButton styleClass="searchSubmit" action="#{searchBean.updateResults}" style="display: none;">
                        <f:ajax render="searchWrapper:searchResults searchWrapper:namespaceForm" execute="@form" onevent="showResultTab"/>
                    </h:commandButton>
                </ui:fragment>

                <div class="form-group">
                    <div class="col-xs-10 col-xs-offset-2">
                        <a class="btn btn-default pull-right searchSubmitWrapper" onclick="showSearchIcon(); $('.searchSubmit').click();">
                            <i class="fa fa-fw fa-spinner" id="search-spinner-icon" style="display: none;"></i> #{msg.search}
                        </a>
                    </div>
                </div>
            </ui:fragment>
        </div>

        <h:inputText value="#{searchBean.selectedNamespace}" styleClass="hiddenSelectedNamespace" style="display: none;"/>
        <h:commandButton action="#{searchBean.updateElements()}" styleClass="updateElementsButton" style="display: none;">
            <f:ajax render="searchWrapper:elements" execute="@form"/>
        </h:commandButton>

        <h:outputScript>
            $(function() {
                $("select").select2();
            });
        </h:outputScript>

        <h:outputScript target="head">
            function scrollToResults(data) {
                if(data.status == "success") {
                    $('#wrapperResults').addClass('fadein').show();
                    scrollTo('#wrapperResults');
                    hideSearchIcon();
                }
            }

            function showResultTab(data) {
                if(data.status == "success") {
                    $("#searchTabs a[href='#searchResultTab']").tab("show");
                    hideSearchIcon();
                }
            }

            function hideSearchIcon() {
                $("#search-spinner-icon").hide();
                $(".searchSubmitWrapper").removeClass("disabled");
            }

            function showSearchIcon() {
                $("#search-spinner-icon").show();
                $(".searchSubmitWrapper").addClass("disabled");
            }
        </h:outputScript>
</ui:composition>
