<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <link type="text/css" rel="stylesheet" href="#{resource['webjar:bootstrap/css/bootstrap.css']}&amp;version=#{applicationBean.version}"/>
    <link type="text/css" rel="stylesheet" href="#{resource['webjar:font-lato/css/font-lato.css']}&amp;version=#{applicationBean.version}"/>
    <!--<link type="text/css" rel="stylesheet" href="#{resource['webjar:font-awesome/css/font-awesome.css']}&amp;version=#{applicationBean.version}"/>-->
    <h:outputStylesheet name="webjars/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link type="text/css" rel="stylesheet" href="#{resource['webjar:samply/css/base.css']}&amp;version=#{applicationBean.version}"/>
    <link type="text/css" rel="stylesheet" href="#{resource['webjar:samply/css/fadein.css']}&amp;version=#{applicationBean.version}"/>
    <link type="text/css" rel="stylesheet" href="#{resource['webjar:jquery/css/jquery-ui.css']}&amp;version=#{applicationBean.version}"/>

    <link type="text/css" rel="stylesheet" href="#{resource['webjar:select2/css/select2.css']}&amp;version=#{applicationBean.version}"/>
    <link type="text/css" rel="stylesheet" href="#{resource['webjar:datatables/css/dataTables.bootstrap.min.css']}&amp;version=#{applicationBean.version}"/>

    <link type="text/css" rel="stylesheet" href="#{resource['css/mdr.css']}?version=#{applicationBean.version}"/>
    <link type="text/css" rel="stylesheet" href="#{resource['css/wizard.css']}?version=#{applicationBean.version}"/>

    <ui:fragment rendered="#{requestBean.isOsse()}">
        <link type="text/css" rel="stylesheet" href="#{resource['webjar:samply/css/osse.css']}&amp;version=#{applicationBean.version}"/>
        <link type="text/css" rel="stylesheet" href="#{resource['css/osse.css']}?version=#{applicationBean.version}"/>
    </ui:fragment>

    <link type="text/css" rel="stylesheet" href="#{resource['webjar:samply/css/buttons.css']}&amp;version=#{applicationBean.version}"/>
    <link type="text/css" rel="stylesheet" href="#{resource['webjar:samply/css/demo-ribbon.css']}&amp;version=#{applicationBean.version}"/>

    <script type="text/javascript" src="#{resource['webjar:jquery/js/jquery.min.js']}&amp;version=#{applicationBean.version}"></script>
    <script type="text/javascript" src="#{resource['js/jquery-ui-fix.js']}?version=#{applicationBean.version}"></script>
    <script type="text/javascript" src="#{resource['webjar:bootstrap/js/bootstrap.js']}&amp;version=#{applicationBean.version}"></script>


    <script type="text/javascript" src="#{resource['webjar:select2/js/select2.min.js']}&amp;version=#{applicationBean.version}"></script>
    <script type="text/javascript" src="#{resource['webjar:datatables/js/jquery.dataTables.min.js']}&amp;version=#{applicationBean.version}"></script>
    <script type="text/javascript" src="#{resource['webjar:datatables/js/dataTables.bootstrap.min.js']}&amp;version=#{applicationBean.version}"></script>

    <script type="text/javascript" src="#{resource['js/mdr.js']}?version=#{applicationBean.version}"></script>
    <script type="text/javascript" src="#{resource['js/jquery.waypoints.min.js']}?version=#{applicationBean.version}"></script>
</ui:composition>