<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="wizard.xhtml">

    <ui:param name="bodyClass" value="container" />
    <ui:param name="formContainerClass" value="col-xs-12" />
    <ui:param name="title" value="#{msg.verification}"/>


    <ui:define name="formContainer">
        <div>
            <sa:definitions bean="#{bean}" readonly="true"/>
        </div>

        <ui:insert name="afterDefinitions"/>

        <h:panelGroup layout="block" rendered="#{bean.slots.size() > 0}">
            <h:panelGroup layout="block" styleClass="well">
                <sa:slots bean="#{bean}" readonly="true"/>
            </h:panelGroup>
        </h:panelGroup>

        <h:panelGroup layout="block" rendered="#{bean.conceptAssociations.size() > 0}">
            <h:panelGroup layout="block" styleClass="well" rendered="#{bean.conceptAssociations.get(0).getSystem()!=null}">
                <sa:conceptAssociation bean="#{bean}" readonly="true"/>
            </h:panelGroup>
        </h:panelGroup>

        <h:panelGroup layout="block">
        <h2><h:outputText value="#{msg.namespace}"/></h2>

        <div class="well">
            <div class="form-group required">
                <h:outputLabel for="namespace" value="#{msg.namespace}" styleClass="col-xs-2 control-label"/>

                <h:panelGroup styleClass="col-xs-8">
                    <h:selectOneMenu id="namespace" disabled="#{bean.change or !bean.useAsTemplate}" value="#{bean.namespace}" styleClass="form-control select2">
                        <f:selectItems value="#{userBean.writableNamespaces}" var="namespace" itemLabel="#{namespace.label}" itemValue="#{namespace.name}"/>
                        <f:ajax render="@form" event="change" listener="#{bean.updateIdentifier()}"/>
                    </h:selectOneMenu>
                </h:panelGroup>
            </div>
        </div>
        </h:panelGroup>
        <h:inputText style="display: none;" value="#{bean.status}" styleClass="status"/>

        <h:commandButton id="cancelBtn" action="#{bean.reset}" style="display:none;"/>
        <h:commandButton id="previousBtn" action="#{bean.previousStep(view.viewId)}" style="display:none;"/>
        <h:commandButton id="finishBtn" action="#{bean.finish}" style="display:none;"/>
    </ui:define>

</ui:composition>
