<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply"
    template="components/default.xhtml">

<!--
    This view shows a detailed view of the given element (via URN parameter).
 -->

    <f:metadata>
        <f:viewParam name="urn" value="#{detailViewBean.urn}" />
        <f:viewAction action="#{detailViewBean.initialize}"/>
    </f:metadata>

    <ui:param name="bodyClass" value="container" />

    <ui:define name="title">#{detailViewBean.element.designation}</ui:define>

    <ui:define name="body">

        <sa:pleaseWaitModal />

        <div class="fadein">

            <sa:detailview element="#{detailViewBean.element}" detailLink="true" collapsible="true" starrable="true"/>

        </div>

    </ui:define>

</ui:composition>
