<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:o="http://omnifaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply"
    template="components/default.xhtml">

    <f:metadata>
        <f:viewAction action="#{userBean.init()}"/>
    </f:metadata>

<!--
    The index page.
 -->

    <ui:param name="bodyClass" value="container" />

    <ui:define name="body">

        <div class="fadein">

            <h1>#{msg.indexTitle}</h1>

            <h:outputText rendered="#{requestBean.isOsse()}" escape="false" value="#{msg.introductionOSSE}"/>
            <h:outputText rendered="#{! requestBean.isOsse()}" escape="false" value="#{msg.introductionSamply}"/>

        </div>

        <div class="fadein footer container">
            <div class="imgLeft">
                <ui:include src="resources/images/logo_ukf_englisch_cmyk.svg" />
            </div>
            <ui:fragment rendered="#{not empty applicationBean.getImage('logo.png')}">
                <div class="imgRight">
                    <o:graphicImage value="#{applicationBean.getImage('logo.png')}" />
                </div>
            </ui:fragment>
        </div>

    </ui:define>

</ui:composition>
