<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply"
    template="components/default.xhtml">

<!--
    The view, that shows the server maintenance message.
 -->

    <ui:param name="bodyClass" value="container" />

    <ui:define name="body">

        <div class="fadein">

            <h1>#{msg.serverMaintenance}</h1>


            <h2>

                #{msg.serverMaintenanceRequired}

                <ui:fragment rendered="#{userBean.hasAdminPrivilege}">
                    <p style="margin-top: 50px">
                        #{msg.serverMaintenanceAdminRedirect}: <h:link outcome="/admin/index">Admin Area</h:link>
                    </p>
                </ui:fragment>

            </h2>

        </div>

    </ui:define>

</ui:composition>
