<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply"
                template="components/default.xhtml">

<!--
    This view searches for other reprsentations of the given URN. -->

<f:metadata>
    <f:viewParam name="urn" value="#{representationsBean.urn}"/>
    <f:viewAction action="#{representationsBean.initialize()}" />
</f:metadata>

    <ui:param name="bodyClass" value="container" />

    <ui:define name="body">

        <div class="fadein">

            <div class="clearfix">
                <div class="col-xs-12">
                    <h1 class="wiztitle">
                        #{msg.dataelement}
                    </h1>
                </div>
            </div>

            <sa:element element="#{representationsBean.element}" detailLink="true" starrable="true"
                        collapsible="true" detailPage="/shortDetail.xhtml"  />

            <div class="clearfix">
                <div class="col-xs-12">
                    <h1 class="wiztitle">
                        #{msg.otherRepesentations}
                    </h1>
                </div>
            </div>

            <sa:elements list="#{representationsBean.elements}" detailLink="true" collapsible="true"
                         emptyText="#{msg.noOtherRepresentations}"
                         starrable="true"/>

            <div class="clearfix">
                <div class="col-xs-12">
                    <h1 class="wiztitle">
                        #{msg.outboundRelations}
                    </h1>
                </div>
            </div>

            <sa:elementRelations list="#{representationsBean.relatedElementsOutbound}"
                                 detailLink="true" collapsible="true"
                                 emptyText="#{msg.noOutboundRelations}" starrable="true"/>

            <div class="clearfix">
                <div class="col-xs-12">
                    <h1 class="wiztitle">
                        #{msg.inboundRelations}
                    </h1>
                </div>
            </div>

            <sa:elementRelations list="#{representationsBean.relatedElementsInbound}"
                                 detailLink="true" collapsible="true"
                                 emptyText="#{msg.noInboundRelations}" starrable="true"/>

        </div>

    </ui:define>

</ui:composition>
