<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply"
    template="components/default.xhtml">

<!--
    The basic search page.
 -->

    <ui:param name="bodyClass" value="container" />

    <ui:define name="body">

        <div class="fadein content">

            <div class="col-xs-12">
                <h:form styleClass="form-horizontal">
                    <ui:include src="components/searchForm.xhtml">
                        <ui:param name="resultTab" value="false"/>
                        <ui:param name="allSources" value="true"/>
                    </ui:include>
                </h:form>
            </div>

            <sa:searchResults hide="#{searchBean.source == 'LOCALMDR'}" id="searchWrapper" bean="#{searchBean}" draggable="false"
                    allNamespaces="true" emptyText="#{msg.noSearchResults}" title="#{msg.searchResults}"/>

        </div>

        <h:form id="starForm">
            <h:inputText id="urn" value="#{userBean.starItem}" styleClass="inputStarItemUrn" style="display: none;" />
            <h:commandButton action="#{userBean.toggle}" styleClass="inputStarItemBtn" style="display: none;" >
                <f:ajax execute="@form"/>
            </h:commandButton>
        </h:form>

    </ui:define>

</ui:composition>
