<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply"
    template="components/default.xhtml">

<!--
    A short detail page that is used in the detail view
 -->

    <f:metadata>
        <f:viewParam name="urn" value="#{detailViewBean.urn}" />
        <f:viewParam name="draggable" value="#{detailViewBean.draggable}" />
        <f:viewAction action="#{detailViewBean.initialize}"/>
    </f:metadata>

    <ui:param name="bodyClass" value="container" />

    <ui:define name="body">

        <sa:detailview element="#{detailViewBean.element}" collapsible="true" starrable="true" draggable="#{detailViewBean.draggable}" renderDefinitions="false"
            renderSlots="true" renderHeaders="false" detailLink="#{! detailViewBean.draggable}"/>

    </ui:define>

</ui:composition>
