<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply">

    <h:head>
        <f:metadata>
            <f:viewParam name="id" value="#{stagingDetailViewBean.id}" />
            <f:viewParam name="ancestors" value="#{stagingDetailViewBean.ancestorsString}" />
            <f:viewAction action="#{stagingDetailViewBean.initialize}" />
        </f:metadata>
    </h:head>

    <h:body>
        <div>
            <ui:fragment rendered="#{not empty stagingDetailViewBean.selectedImport}">
                <sa:importDetailview selectedImport="#{stagingDetailViewBean.selectedImport}" />
            </ui:fragment>

            <ui:fragment rendered="#{not empty stagingDetailViewBean.stagedElement}">
                <sa:stagingDetailview staging="#{stagingDetailViewBean.stagedElement}" element="#{stagingDetailViewBean.dataelement}" />
            </ui:fragment>
        </div>
    </h:body>
</html>
