<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://xmlns.jcp.org/jsf/composite/samply"
    template="components/default.xhtml">

<!--
    This is the new browse view. On the left side is a list of selectable namespaces, on the right side
    are the elements in the selected namespace.

    Because the namespace selection makes an ajax call, a script handles it.
 -->

    <f:metadata>
        <f:viewParam name="namespace" value="#{viewBean.selectedNamespace}"></f:viewParam>
        <f:viewAction action="#{viewBean.initialize()}"/>
    </f:metadata>

    <ui:param name="htmlClass" value="height-100p" />
    <ui:param name="bodyClass" value="container-fluid height-100p" />

    <ui:define name="body">

        <div class="fadein content">

            <div style="display: none;">
                <h:form styleClass="form-horizontal">
                    <h:inputText value="#{viewBean.selectedNamespace}" styleClass="hiddenSelectedNamespace" style="display: none;"/>
                    <h:commandButton action="#{viewBean.updateElements()}" styleClass="updateElementsButton" style="display: none;">
                        <f:ajax render="searchWrapper:elements searchWrapper:editNamespaceButtons searchWrapper:editForm" execute="@form"/>
                    </h:commandButton>
                </h:form>
            </div>

            <sa:searchResults id="searchWrapper" bean="#{viewBean}" draggable="false" allNamespaces="false"
                title="#{msg.browse}" emptyText="#{msg.selectNamespace}" editableNamespace="true"/>

            <h:outputScript>
                $.urlParam = function(name){
                    var results = new RegExp('[\?&amp;]' + name + '=([^&amp;#]*)').exec(window.location.href);
                    return results[1] || 0;
                }

                $(function() {
                    $("a.namespaceLink").click(function(e) {
                        var namespace = $(this).find(".name").html();
                        window.history.pushState({name : namespace}, '', 'view.xhtml?namespace=' + namespace);

                        $('html').animate({
                            scrollTop: $("#wrapperResults").offset().top
                        }, 1000);
                    });

                    window.onpopstate = function(event) {
                        var namespace = $.urlParam("namespace");

                        var a = $(".namespaceLink").filter(function() { return $(this).find(".name").html() === namespace; })

                        selectNamespace(a);
                    };
                });
            </h:outputScript>
        </div>

        <h:form id="starForm">
            <h:inputText id="urn" value="#{userBean.starItem}" styleClass="inputStarItemUrn" style="display: none;" />
            <h:commandButton action="#{userBean.toggle}" styleClass="inputStarItemBtn" style="display: none;" >
                <f:ajax execute="@form"/>
            </h:commandButton>
        </h:form>

    </ui:define>

</ui:composition>
